main-srv-01.rafaribe.com.yaml
talosconfig
talsecretbk.yamlmain-srv-01.home.arpa.yaml
main-srv-01.home.arpa.yaml
main-srv-04.home.arpa.yaml
main-tpi-1.home.arpa.yaml
main-tpi-2.home.arpa.yaml
main-tpi-3.home.arpa.yaml
main-tpi-4.home.arpa.yaml
main-srv-02.home.arpa.yaml
main-srv-03.home.arpa.yaml
main-srv-05.home.arpa.yaml
main-srv-06.home.arpa.yaml
main-srv-07.home.arpa.yaml
*.yaml
