---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: services
resources:
  - ./helmrelease.yaml
  - ./clusterpolicy.yaml
  - ./gatus.yaml
configMapGenerator:
  - name: theme-park-catppuccin-config
    files:
      # - https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/frappe.css
      # - https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/latte.css
      - catppuccin-macchiato.css=https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/macchiato.css
      # - https://raw.githubusercontent.com/catppuccin/theme.park/main/flavors/mocha.css
generatorOptions:
  disableNameSuffixHash: true
