---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nvidia-device-plugin
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/system/nvidia/device-plugin
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 3m
  targetNamespace: system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app