---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: crossplane
  namespace: crossplane-system
spec:
  interval: 5m
  chart:
    spec:
      chart: crossplane
      version: 1.8.1
      sourceRef:
        kind: HelmRepository
        name: crossplane-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    image:
      pullPolicy: "IfNotPresent"
    provider:
      packages: []
    configuration:
      packages: []
    metrics:
      enabled: true
