---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: grafana
      version: 6.21.5
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8s-at-home/grafana
    replicas: 1
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_DATE_FORMATS_INTERVAL_SECOND: "hh:mm:ss a"
      GF_DATE_FORMATS_INTERVAL_MINUTE: "hh:mm a"
      GF_DATE_FORMATS_INTERVAL_HOUR: "DD/MM hh:mm a"
      GF_DATE_FORMATS_INTERVAL_DAY: "DD/MM"
      GF_DATE_FORMATS_INTERVAL_MONTH: "MM-YYYY"
      GF_DATE_FORMATS_INTERVAL_YEAR: "YYYY"
      VAR_BLOCKY_URL: "http://blocky.networking.svc.cluster.local:4000"
    adminPassword: "${SECRET_GRAFANA_PASSWORD}"
    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
      auth.basic:
        disable_login_form: false
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    datasources:
      datasources.yaml:
        apiVersion: 1
        # list of datasources that should be deleted from the database
        deleteDatasources:
          - name: Loki
            orgId: 1
          - name: Prometheus
            orgId: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://prometheus-prometheus:9090/
            isDefault: true
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
    dashboards:
      default:
        # # Ref: https://grafana.com/grafana/dashboards/12175
        # calico-felix:
        #   gnetId: 12175
        #   revision: 5
        #   datasource: Prometheus
        #minio:
        #  gnetId: 13502
        #  revision: 10
        #  datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11315
        unifi-client-insights:
          gnetId: 11315
          revision: 8
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11311
        unifi-network-sites:
          gnetId: 11311
          revision: 4
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11314
        unifi-uap-insights:
          gnetId: 11314
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11312
        unifi-usw-insights:
          gnetId: 11312
          revision: 8
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/13665
        speedtest:
          gnetId: 13665
          revision: 1
          datasource: Prometheus
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/control-plane.json
          datasource: Prometheus
        loki-global-metrics:
          gnetId: 13407
          revision: 1
          datasource: Prometheus
        loki-promtail-metrics:
          gnetId: 10880
          revision: 1
          datasource: Prometheus
        loki-stack-monitoring:
          gnetId: 14055
          revision: 5
          datasource: Loki
        grafana-usage-insights:
          gnetId: 15088
          revision: 11
          datasource: Loki
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
      - snuids-trafficlights-panel
      - grafana-polystat-panel
      - natel-plotly-panel
      - agenty-flowcharting-panel
      - briangann-datatable-panel
      - pierosavi-imageit-panel
      - flant-statusmap-panel
      - larona-epict-panel
      - petrslavotinek-carpetplot-panel
      - ryantxu-ajax-panel
      - digiapulssi-breadcrumb-panel
      - marcusolsson-gantt-panel
      - digiapulssi-organisations-panel
      - volkovlabs-image-panel
      - marcusolsson-hexmap-panel
      # Applications
      - grafana-k6-app
      - grafana-simple-json-datasource
      - marcusolsson-csv-datasource
      - marcusolsson-json-datasource
      - fzakaria-simple-annotations-datasource
      - volkovlabs-rss-datasource
      - marcusolsson-static-datasource
    serviceMonitor:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: "traefik"
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: letsencrypt-production
        kubernetes.io/ingress.class: traefik
        kubernetes.io/tls-acme: "true"
        external-dns.alpha.kubernetes.io/hostname: grafana.${SECRET_DOMAIN}
        external-dns.alpha.kubernetes.io/target: ${SECRET_DOMAIN}
      hosts:
        - "grafana.${SECRET_DOMAIN}"
      tls:
        - hosts:
          - "grafana.${SECRET_DOMAIN}"
    serviceAccount:
      create: true
      autoMount: true
    persistence:
      enabled: true
      accessModes:
      - ReadWriteOnce
      size: 4Gi
      storageClassName: 'local-path'
