---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app kitchenowl
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        # App
        JWT_SECRET_KEY: "{{ .KITCHENOWL_JWT_TOKEN }}"
        # Database
        DB_TYPE: postgres
        DB_HOST: &dbHost "home-ops-rw.database.svc.cluster.local"
        DB_PORT: "5432"
        DB_NAME: &dbName kichenowl
        DB_USER: &dbUser kichenowl
        DB_PASSWORD: &dbPass "{{ .POSTGRES_GENERIC_APP_PASSWORD }}"
        # Database Init
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_DBNAME: &dbName
        INIT_POSTGRES_USER: &dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_USER: "{{ .POSTGRES_SUPER_USER }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: /kitchenowl
    - extract:
        key: /cloudnativepg
