---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kitchenowl
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kitchenowl
  values:
    controllers:
      kitchenowl:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        initContainers:
          chown-data:
            image:
              repository: ghcr.io/home-operations/busybox
              tag: 1.37@sha256:026ed7273270ec08f6902b4ae8334c23b473e5394bec3bbbdbfe580c710d50bc
            command: ["sh", "-c", "chown -R 1000:1000 /data"]
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
        containers:
          app:
            image:
              repository: ghcr.io/ahinko/kitchenowl
              tag: v0.7.4@sha256:1b28b834a83b10639c703e45fb24208c54533fbe5eeb0d8b2aef1e6bf518dbff
            env:
              TZ: Europe/Lisbon
              COLLECT_METRICS: false
              EMAIL_MANDATORY: false
              FRONT_URL: https://kitchenowl.rafaribe.com
              OPEN_REGISTRATION: false
              SMTP_PORT: 25
              SMTP_HOST: smtp-relay-noreply.services.svc.cluster.local
              SMTP_FROM: noreply@rafaribe.com
              STORAGE_PATH: "/data"
            envFrom: &envFrom
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 500Mi
    defaultPodOptions: # Docker image is too big for my turing pi's disk, dont want to get into diskpressure errors.
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames: ["{{ .Release.Name }}.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: kitchenowl-data
        globalMounts:
          - path: /data