---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kitchenowl
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kitchenowl
  values:
    controllers:
      kitchenowl:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

          enableServiceLinks: false

          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
            envFrom: &envFrom
              - secretRef:
                  name: *app
        containers:
          app:
            image: tombursch/kitchenowl
            tag: v0.7.4@sha256:9d5e4402c2abc734e1536586caa103840a7ebe961fdce1570e31b956abeba70b
            env:
              TZ: Europe/Lisbon
              COLLECT_METRICS: false
              DB_DRIVER: postgresql
              EMAIL_MANDATORY: false
              FRONT_URL: https://kitchenowl.rafaribe.com
              OPEN_REGISTRATION: false
              SMTP_PORT: 25
              SMTP_HOST: smtp-relay.services.svc.cluster.local
              SMTP_FROM: alerts@rafaribe.com
              STORAGE_PATH: "/data"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 500Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080

    route:
      app:
        hostnames: ["{{ .Release.Name }}.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: kitchenowl-data
        globalMounts:
          - path: /data
