---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name home-ops
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:18.0
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  storage:
    size: 20Gi
    storageClass: ceph-block
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "600"
      max_slot_wal_keep_size: 30GB
      shared_buffers: 512MB
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
  backup:
    volumeSnapshot:
       className: csi-ceph-blockpool
       snapshotOwnerReference: cluster
    barmanObjectStore:
      destinationPath: s3://cnpg-home-ops/
      endpointURL: http://garage.storage.svc.cluster.local:3900
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secret
          key: AWS_ACCESS_KEY_ID
        secretAccessKey:
          name: cloudnative-pg-secret
          key: AWS_SECRET_ACCESS_KEY
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 4
      serverName: home-ops-v2
  bootstrap:
    recovery:
      source: home-ops-backup
  externalClusters:
    - name: home-ops-backup
      barmanObjectStore:
        destinationPath: s3://cnpg-home-ops/
        endpointURL: http://garage.storage.svc.cluster.local:3900
        s3Credentials:
          accessKeyId:
            name: cloudnative-pg-secret
            key: AWS_ACCESS_KEY_ID
          secretAccessKey:
            name: cloudnative-pg-secret
            key: AWS_SECRET_ACCESS_KEY
        wal:
          compression: bzip2
          maxParallel: 8
        serverName: home-ops-v2
