---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      garage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.2.0@sha256:45a61ce3f7c9c24fc23d9ed2b09b27ed560ab87b34605d175d5c588f539c24e4
            env:
              TZ: Europe/Lisbon
            envFrom:
              - secretRef:
                  name: garage
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          s3:
            port: &port 3900
          api:
            port: 3903
    route:
      app:
        hostnames: ["s3.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    configMaps:
      config:
        data:
          configuration.toml: |
            metadata_dir = "/meta"
            data_dir = "/data"
            db_engine = "lmdb"
            metadata_auto_snapshot_interval = "6h"

            replication_factor = 1
            compression_level = 2

            rpc_bind_addr = "[::]:3901"
            rpc_public_addr = "127.0.0.1:3901"

            [s3_api]
            s3_region = "us-east-1"
            api_bind_addr = "[::]:3900"
            root_domain = ".s3.rafaribe.com"

            [admin]
            api_bind_addr = "[::]:3903"
    persistence:
      config:
        enabled: true
        type: configMap
        name: garage
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
      data:
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/tank/garage/data
        globalMounts:
          - path: /data
      meta:
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/tank/garage/meta
        globalMounts:
          - path: /meta
