---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: rook-ceph
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.18.3
  url: oci://ghcr.io/rook/rook-ceph
---
# yaml-language-server: $schema=https://kubernetes-schemas.trux.dev/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
  namespace: rook-ceph
spec:
  interval: 1h
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    crds:
      enabled: true
    toolbox:
      enabled: true
    csi:
      enableVolumeGroupSnapshot: false # TODO: enable this when v1beta1 CRDs are available
      kubeletDirPath: /var/lib/kubelet
      enableCSIHostNetwork: true

      enableLiveness: true
      serviceMonitor:
        enabled: true
    monitoring:
      enabled: true
    resources:
      requests:
        cpu: 200m # unchangable
        memory: 512Mi # unchangable
      limits: 
        cpu: 1000m # increased from 500m for better performance
        memory: 2Gi # increased from 1Gi for better performance
    image:
      repository: ghcr.io/rook/ceph
    env:
      - name: ROOK_CEPH_COMMANDS_TIMEOUT_SECONDS
        value: "30"
