---
# yaml-language-server: $schema=https://kubernetes-schemas.rafaribe.com/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: unpackerr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/golift/unpackerr
      tag: 0.13.1
    env:
      TZ: Europe/Lisbon
      UN_WEBSERVER_METRICS: "true"
      UN_SONARR_0_URL: http://sonarr.default.svc.cluster.local
      UN_SONARR_0_PATHS_0: /complete/sonarr
      UN_RADARR_0_URL: http://radarr.default.svc.cluster.local
      UN_RADARR_0_PATHS_0: /complete/radarr
    envFrom:
      - secretRef:
          name: unpackerr-secret
    service:
      main:
        ports:
          http:
            port: 5656
    serviceMonitor:
      main:
        enabled: true
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [10000]
    persistence:
      complete:
        enabled: true
        type: nfs
        server: expanse.turbo.ac
        path: /eros/Media/Downloads/qbittorrent/complete
        mountPath: /complete
    resources:
      requests:
        cpu: 10m
        memory: 250Mi
      limits:
        memory: 2000Mi
