---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../../shared/templates/gatus/guarded
  - ../../../../../shared/templates/volsync
configMapGenerator:
  - name: qbittorrent-loki-rules
    files:
      - qbittorrent.yaml=./resources/lokirule.yaml
    options:
      labels:
        loki_rule: "true"
  - name: qbittorrent-scripts
    files:
      - ./scripts/xseed.sh
  - name: qbittorrent-dnsdist
    files:
      - ./config/dnsdist.conf
generatorOptions:
  disableNameSuffixHash: true
