---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app radicale
spec:
  path: "./kubernetes/apps/services/radicale/app"
  targetNamespace: services
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  prune: true
  wait: false
  interval: 10m
  postBuild:
    substitute:
      APP: *app
      CLAIM: "radicale-data-v2"
      APP_UID: "1000"
      APP_GID: "1000"
  components:
    - ../../../../components/volsync
