apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gotify
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      gotify:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: gotify-secret
        containers:
          app:
            image:
              repository: ghcr.io/gotify/server
              tag: 2.9.0@sha256:4df8c1bb23646b8d8b308e881866474bfae4a9a5b3980e5047f87eb84017e8a0
            env:
              TZ: Europe/Lisbon
              GOTIFY_DATABASE_DIALECT: postgres
            envFrom:
              - secretRef:
                  name: gotify-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
                memory: 50Mi
              limits:
                memory: 150Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: gotify
        ports:
          http:
            port: &port 80
    route:
      main:
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        hostnames:
          - notifications.rafaribe.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
      internal:
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - gotify.rafaribe.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/data
