---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./helmrelease.yaml
  - ../../../../../shared/templates/volsync
  - ../../../../../shared/templates/gatus/guarded
