---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama-dns-router
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      ollama-dns-router:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "*/5 * * * *"
          timeZone: &timeZone Europe/Lisbon
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app:
            image:
              repository: ghcr.io/rafaribe/ollama-dns-router
              tag: v0.1.0
            env:
              TZ: *timeZone
              # Instances is a comma-separated string with IP:PORT values"
              INSTANCE_URLS: "http://10.0.0.70:11434,http://10.0.2.103:11434,http://10.0.1.115:11434"
              PIHOLE_HOSTNAME: "10.0.0.254"
              OLLAMA_RECORD: "ollama.rafaribe.com"
            envFrom:
              - secretRef:
                  name: ollama-dns-router
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                cpu: 10m
                memory: 15Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
