---
# yaml-language-server: $schema=https://kubernetes-schemas.rafaribe.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-bazarr
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/media/bazarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
