# Editors
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.variables.sh
bootstrap/.fullbootstrap.sh
bootstrap-hidden.sh
cluster/apps/networking/unifi/configmap.json
wireguardconfig
ignore
age.agekey
.github/scripts/values2.yaml
cenas/endpoint_modificado.yaml
cenas/endpoint.yaml
auth
#terraform/**/.env
.terraform/
docs/**/*.bkp
kubernetes/clusters/truenas/flux/vars/secrets.yaml
terraform/**/*.backup
terraform/**/.decrypted~.env
*tmp
known_hosts
.monokle
.gomerge/
age.key
utilities/doppler-to-akeyless/venv
utilities/doppler-to-akeyless/.env
*.tmp.yaml
.authelia/
kubernetes/main/bootstrap/talos/talosconfig-reader
 kubernetes/main/bootstrap/talos.tar.gz
wg.txt
kubernetes/main/apps/downloads/qbittorrent/app/secret.json