---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: home-assistant
  interval: 30m
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            runAsGroup: 1000
            runAsUser: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.1
            env:
              VENV_FOLDER: /venv
              HASS_HTTP_TRUSTED_PROXY_1: 10.0.0.0/22
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/user-data
              - --extensions-dir
              - /data/extensions
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: https://hass.rafaribe.com
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 500Mi
    service:
      app:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.0.1.28
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 8123
        primary: true
      code-server:
        ports:
          code-server:
            port: 12321
    persistence:
      config:
        existingClaim: home-assistant
        advancedMounts:
          home-assistant:
            app:
              - path: /config
                subPath: config
            code-server:
              - path: /config
                subPath: config
              - path: /data
                subPath: code-server
      hass-cache:
        existingClaim: home-assistant-cache
        globalMounts:
          - path: /tmp
            subPath: hass-tmp
          - path: /tmp
            subPath: code-server-tmp
          - path: /nonexistent
            subPath: nonexistent
          - path: /venv
            subPath: hass-venv

      deploy-key:
        type: secret
        name: home-assistant-git-ssh
        defaultMode: 256
        globalMounts:
          - path: /home/coder/.ssh/
            readOnly: true

    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    # Need to have ephemeral resources on amd64 nodes, as the arm nodes don't have enough space
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - arm64
    route:
      # External Route
      app:
        annotations:
          gethomepage.dev/href: "https://hass.rafaribe.com"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/app: Home Assistant
          gethomepage.dev/group: Home
          gethomepage.dev/icon: home-assistant
          gethomepage.dev/name: Home Assistant
          gethomepage.dev/description: Home Automation
          gethomepage.dev/widget.type: homeassistant
          gethomepage.dev/widget.url: &url http://home-assistant.home:8123
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_HOMEASSISTANT_KEY}}` }}"
          gethomepage.dev/siteMonitor: *url
        hostnames:
          - hass.rafaribe.com
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 8123
      local:
        hostnames:
          - hass-local.rafaribe.com
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 8123
      code:
        hostnames:
          - hass-code.rafaribe.com
        parentRefs:
          - name: envoy-internal
            namespace: network

        rules:
          - backendRefs:
              - identifier: code-server
                port: 12321