---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
  namespace: services
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.3"
            imagePullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: paperless
        containers:
          main:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.8.6
            env:
              COMPOSE_PROJECT_NAME: paperless
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
              PAPERLESS_ALLOWED_HOSTS: https://paperless.rafaribe.com
              PAPERLESS_FILENAME_FORMAT: "{created_year}/{correspondent}/{title}"
              PAPERLESS_OCR_LANGUAGES: por eng
              PAPERLESS_OCR_LANGUAGE: por
              PAPERLESS_TIME_ZONE: Europe/Lisbon
              PAPERLESS_URL: https://paperless.rafaribe.com
              PAPERLESS_PORT: &port 80
              PAPERLESS_REDIS: redis://paperless-redis.services.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_TRUSTED_PROXIES: 10.42.0.0/16,10.0.1.0/24,10.0.4.0/24
              USERMAP_UID: 1000
              USERMAP_GID: 1000
            envFrom: *envFrom
            resources:
              requests:
                cpu: 100m
                memory: 1000Mi
              limits:
                memory: 5000Mi
          gotenburg:
            image:
              repository: thecodingmachine/gotenberg
              tag: 8.5.1
            env:
              - { name: DISABLE_GOOGLE_CHROME, value: "1" }
          tika:
            image:
              repository: ghcr.io/paperless-ngx/tika
              tag: 2.9.1-full
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/hostname: paperless.rafaribe.com
          hajimari.io/icon: mdi:barcode-scan
        hosts:
          - host: &host "paperless.rafaribe.com"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: "paperless-tls"
    persistence:
      data:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/docs/paperless/data
        globalMounts:
          - path: /usr/src/paperless/data
      media:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/docs/paperless/media
        globalMounts:
          - path: /usr/src/paperless/media
      consume:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/docs/paperless/incoming
        globalMounts:
          - path: /usr/src/paperless/consume
      export:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/docs/paperless/export
        globalMounts:
          - path: /usr/src/paperless/export
