apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-loki-app
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/monitoring/loki/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-loki-dashboards
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/monitoring/loki/dashboards
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
