---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kitchenowl
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  targetNamespace: services
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/services/kitchenowl/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
    - name: external-secrets-stores
      namespace: external-secrets
  postBuild:
    substitute:
      APP: *app
      APP_UID: "1000"
      APP_GID: "1000"
      CLAIM:: kitchenowl-data
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  wait: true
  interval: 30m
  timeout: 5m
  components:
    - ../../../../components/volsync
