---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kitchenowl
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  targetNamespace: services
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/main/apps/services/kitchenowl/app
  sourceRef:
    kind: GitRepository
    name: home-ops
  dependsOn:
    - name: cloudnative-pg-cluster
    - name: rook-ceph-cluster
    - name: volsync
    - name: external-secrets-stores
  postBuild:
    substitute:
      APP: *app
      APP_UID: "1000"
      APP_GID: "1000"
      VOLSYNC_CLAIM: *app
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  wait: true
  interval: 30m
  timeout: 5m
