---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minio
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      main:
        replicas: 3
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2025-02-18T16-25-55Z@sha256:1df91be8d6a6146001cd6be2569a12785a8ece583b511f56ebed08f1e65d3611
            env:
              TZ: "Europe/Lisbon"
              MINIO_PROMETHEUS_URL: http://kube-prometheus-stack-prometheus.observability:9090
              MINIO_PROMETHEUS_JOB_ID: minio
              MINIO_BROWSER_REDIRECT_URL: "https://minio.rafaribe.com"
              # MINIO_SERVER_URL: "https://s3.rafaribe.com"
              MINIO_PROMETHEUS_AUTH_TYPE: "public"
              MINIO_API_CORS_ALLOW_ORIGIN: https://minio.rafaribe.com,https://s3.rafaribe.com
              MINIO_AUTH_TYPE: public
              MINIO_UPDATE: "off"
              MINIO_API_REQUESTS_MAX: "1600"
            envFrom:
              - secretRef:
                  name: minio
            args: ["server", "/data", "--console-address", ":9001"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 6
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_MINIO}
        ports:
          http:
            port: 9001
          api:
            port: 9000
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [2000]
        seccompProfile: { type: RuntimeDefault }
    route:
      main:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "Minio Console"
          hajimari.io/group: "storage"
          hajimari.io/icon: mdi:pail
          hajimari.io/instance: "admin"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: S3 storage
          gethomepage.dev/group: Storage
          gethomepage.dev/icon: sh-minio.svg
          gethomepage.dev/name: Minio
          gethomepage.dev/app: minio

        hostnames: ["minio.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 9001
      s3:
        annotations:
          hajimari.io/enable: "false"
          nginx.ingress.kubernetes.io/whitelist-source-range: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
          nginx.ingress.kubernetes.io/proxy-connect-timeout: "180"
          nginx.ingress.kubernetes.io/proxy-body-size: 1024m
          nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            chunked_transfer_encoding off;
        hostnames: ["s3.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 9000
    serviceMonitor:
      main:
        serviceName: minio
        enabled: true
        endpoints:
          - port: api
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s
    persistence:
      config:
        enabled: true
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/storage-0/minio
        globalMounts:
          - path: /data
    resources:
      requests:
        memory: 750Mi
        cpu: 400m
      limits:
        memory: 2Gi
