#autoDirectNodeRoutes: true
bgp:
  enabled: false
bgpControlPlane:
  enabled: false
cluster:
  id: "1"
  name: truenas-scale
containerRuntime:
  integration: containerd
operator:
  replicas: 1
  rollOutPods: false
  nodeSelector:
    node-role.kubernetes.io/master: "true"
endpointRoutes:
  enabled: true
  # hubble:
  #   enabled: true
  #   metrics:
  #     enabled:
  #       - dns:query;ignoreAAAA
  #       - drop
  #       - tcp
  #       - flow
  #       - port-distribution
  #       - icmp
  #       - http
  relay:
    enabled: true
    rollOutPods: true
  serviceMonitor:
    enabled: true
  ui:
    enabled: false
    # ingress:
    #   annotations:
    #     cert-manager.io/cluster-issuer: letsencrypt-production
    #   enabled: true
    #   hosts:
    #     - &host hubble.nas.rafaribe.com
    #   tls:
    #     - hosts:
    #         - *host
    # rollOutPods: true
# ipam:
#   mode: cluster-pool
# ipv4NativeRoutingCIDR: 10.100.0.0/16
# k8sServiceHost: truenas.rafaribe.com
# k8sServicePort: 6443
# kubeProxyReplacement: strict
# kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10356
# loadBalancer:
#   algorithm: maglev
#   mode: dsr
# localRedirectPolicy: false
# rollOutCiliumPods: true
# securityContext:
#   privileged: false
# tunnel: disabled
# enableRuntimeDeviceDetection: true
# devices: eno1
