# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name grafana
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: grafana-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Init DB
        INIT_POSTGRES_DBNAME: "{{ .INIT_POSTGRES_DBNAME }}"
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
        # Database
        GF_DATABASE_NAME: "{{ .GF_DATABASE_NAME }}"
        GF_DATABASE_HOST: "{{ .GF_DATABASE_HOST }}"
        GF_DATABASE_USER: "{{ .GF_DATABASE_USER }}"
        GF_DATABASE_PASSWORD: "{{ .GF_DATABASE_PASSWORD }}"
        GF_DATABASE_SSL_MODE: "{{ .GF_DATABASE_SSL_MODE }}"
        GF_DATABASE_TYPE: "{{ .GF_DATABASE_TYPE }}"
        # Authentication / OIDC
        GF_AUTH_ANONYMOUS_ENABLED: "false"
        GF_AUTH_BASIC_ENABLED: "false"
        GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
        GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.rafaribe.com/api/oidc/userinfo
        GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.rafaribe.com/api/oidc/authorization
        GF_AUTH_GENERIC_OAUTH_CLIENT_ID: grafana
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ .GRAFANA_OAUTH_CLIENT_SECRET }}"
        GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES: "false"
        GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups[*], 'admins') && 'Admin' || 'Viewer'"
        GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email groups
        GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.rafaribe.com/api/oidc/token
        GF_AUTH_OAUTH_AUTO_LOGIN: "true"
  dataFrom:
    - extract:
        key: /grafana
