---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./descheduler/ks.yaml
  - ./fstrim/ks.yaml
  - ./generic-device-plugin/ks.yaml
  - ./intel-device-plugin/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./nvidia/ks.yaml
  - ./reflector/ks.yaml
  - ./reloader/ks.yaml