---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &secret percona-s3
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *secret
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID : "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY : "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: /minio