---
# This is a shared PVC across namespaces using Rook/CephFS guide on
# https://rook.io/docs/rook/latest-release/Storage-Configuration/Shared-Filesystem-CephFS/filesystem-storage/#shared-volume-creation
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ceph-media
  namespace: media
  finalizers:
    - kubernetes.io/pvc-protection
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 2Ti
  volumeName: pvc-9e73fb5d-3e53-4f3d-b7c9-81babdaeb818-media
  storageClassName: ceph-filesystem
  volumeMode: Filesystem
