---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich
spec:
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.6-0.5.3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: ceph-block
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true

  postgresql:
    shared_preload_libraries:
      - "vchord.so"
    parameters:
      max_connections: "600"
      max_slot_wal_keep_size: 30GB
      shared_buffers: 512MB
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
  
  plugins:
    - enabled: true
      isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: garage-immich
        serverName: immich
  backup:
    retentionPolicy: 15d
    # Use volume snapshots for fast, efficient backups
    volumeSnapshot:
      className: csi-ceph-blockpool
  bootstrap:
    recovery:
      source: immich-backup
      database: immich
      owner: immich
  externalClusters:
    - name: immich-backup
      barmanObjectStore:
        destinationPath: s3://cnpg-immich/immich
        serverName: immich
        s3Credentials:
          accessKeyId:
            name: cloudnative-pg-secret
            key: aws-access-key-id
          secretAccessKey:
            name: cloudnative-pg-secret
            key: aws-secret-access-key
        endpointURL: http://garage.storage.svc.cluster.local:3900
        wal:
          compression: gzip