---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-v3
spec:
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17-0.5.3
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: ceph-block
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true

  postgresql:
    shared_preload_libraries:
      - "vchord.so"
    parameters:
      max_connections: "600"
      max_slot_wal_keep_size: 30GB
      shared_buffers: 512MB
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
  backup:
    volumeSnapshot:
      className: csi-ceph-blockpool
      snapshotOwnerReference: cluster

  plugins:
    - enabled: true
      isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: garage-immich
        serverName: immich-v3
  bootstrap:
    #recovery:
      # volumeSnapshots:
      #   storage:
      #     name: immich-clean-backup-20260113152809:p
      #     kind: VolumeSnapshot
      #     apiGroup: snapshot.storage.k8s.io
    recovery:
      database: app
      owner: app
      source: source
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: garage-immich
          serverName: immich-v3
