---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      navidrome:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.58.0

            env:
              ND_DATAFOLDER: /data
              ND_ENABLEDOWNLOADS: "true"
              ND_ENABLEEXTERNALSERVICES: "false"
              ND_ENABLESHARING: "false"
              ND_ENABLESTARRATING: "false"
              ND_LOGLEeEL: info
              ND_MUSICFOLDER: /media-ceph/music
              ND_PORT: &port 4533
              ND_SCANSCHEDULE: 30m
              ND_BASEURL: https://navidrome.rafaribe.com

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 5m
                memory: 799M
              limits:
                memory: 799M

    service:
      app:
        controller: navidrome
        ports:
          http:
            port: *port

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Listen to music
          gethomepage.dev/group: Media
          gethomepage.dev/icon: sh-navidrome.png
          gethomepage.dev/name: Navidrome
          # gethomepage.dev/widget.type: navidrome
          # gethomepage.dev/widget.url: "https://music.rafaribe.com"
          # gethomepage.dev/widget.token: "{{`{{HOMEPAGE_VAR_NAVIDROME_API_KEY}}`}}"
          # gethomepage.dev/widget.salt: "{{`{{HOMEPAGE_VAR_NAVIDROME_SALT}}`}}"
          # gethomepage.dev/widget.username: "{{`{{HOMEPAGE_VAR_NAVIDROME_USERNAME}}`}}"
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (navidrome)
          gethomepage.dev/siteMonitor: http://navidrome.media.svc.cluster.local:4533
        hostnames: ["music.rafaribe.com"]
        parentRefs:
          - name:  internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: navidrome
      media:
        enabled: true
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/tank/media
        globalMounts:
          - path: /media
      media-ceph:
        existingClaim: ceph-media
        globalMounts:
          - path: /media-ceph
