---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-thor-sdc
  namespace: kube-system
spec:
  restartPolicy: Never
  nodeName: thor
  containers:
    - name: disk-wipe
      image: ubuntu
      securityContext:
        privileged: true
      command: ["/bin/sh", "-c"]
      args:
        [
          "apt update; apt install fdisk gdisk parted udev -y; dd if=/dev/zero of=/dev/sdc bs=1M count=100 oflag=direct,dsync; sgdisk --zap-all /dev/sdc; wipefs -af /dev/sdc; blkdiscard /dev/sdc; partprobe /dev/sdc",
        ]
  nodeSelector:
    kubernetes.io/hostname: thor
