---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: home-ops-storage
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:17.2-22
  primaryUpdateStrategy: unsupervised
  storage:
    size: 70Gi
    storageClass: ceph-block
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "600"
      max_slot_wal_keep_size: 30GB
      shared_buffers: 512MB
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
  backup:
    retentionPolicy: 30d
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://cpng-home-ops-storage/
      endpointURL: http://minio.storage.svc.cluster.local:9000
      serverName: &currentCluster home-ops-storage-v3
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-minio
          key: MINIO_ACCESS_KEY
        secretAccessKey:
          name: cloudnative-pg-minio
          key: MINIO_SECRET_KEY
