---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: stirling-pdf
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 1.6.0@sha256:1f73a8f898fe269cbbccea3be577064dd87fc4334de349fcc5b1afa1bcebf240
              pullPolicy: IfNotPresent
            env:
              TZ: Europe/Lisbon
              DOCKER_ENABLE_SECURITY: "false"
              SECURITY_ENABLE_LOGIN: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "true"
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /api/v1/info/status
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    persistence:
      config:
        enabled: true
        existingClaim: stirling-pdf
        globalMounts:
          - path: /configs
      tmpfs:
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /logs
                subPath: logs
              - path: /pipeline
                subPath: pipeline
              - path: /usr/share/tessdata
                subPath: tessdata
              - path: /tmp
                subPath: tmp

    service:
      app:
        controller: &app app
        ports:
          http:
            port: &port 8080
    route:
      app:
        annotations:
          hajimari.io/icon: mdi-file-pdf
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Stirling PDF
          gethomepage.dev/description: PDF Viewer and Editor
          gethomepage.dev/group: Services
          gethomepage.dev/icon: https://cdn-icons-png.flaticon.com/512/4208/4208479.png
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (stirling-pdf)
        hostnames: ["pdf.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: stirling-pdf
                port: *port
