---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.1.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app your-spotify
spec:
  chartRef:
    kind: OCIRepository
    name: your-spotify
  interval: 30m
  values:
    controllers:
      server:
        strategy: &strategy RollingUpdate
        rollingUpdate: &rollingUpdate
          unavailable: 0
        pod: &pod
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: yooooomi/your_spotify_server
              tag: 1.14.0
            env:
              TIMEZONE: Europe/Lisbon
              # Caveat if it includes Spotify in name: https://github.com/Yooooomi/your_spotify/pull/254
              API_ENDPOINT: &api_endpoint https://spotty.rafaribe.com/api
              CLIENT_ENDPOINT: &client https://spotty.rafaribe.com
              CORS: *client
              MONGO_ENDPOINT: mongodb://your-spotify-mongodb:27017/your_spotify #mongo sucks
              PORT: &port 8080
            envFrom:
              - secretRef:
                  name: *app
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
      web:
        strategy: *strategy
        rollingUpdate: *rollingUpdate
        pod: *pod
        containers:
          app:
            image:
              repository: yooooomi/your_spotify_client
              tag: 1.14.0
            env:
              TIMEZONE: Europe/Lisbon
              API_ENDPOINT: *api_endpoint
            probes: *probes
            securityContext: *securityContext
      mongodb: #mongo still sucks
        type: statefulset
        rollingUpdate: *rollingUpdate
        statefulset:
          podManagementPolicy: OrderedReady
        containers:
          app:
            image:
              repository: docker.io/library/mongo
              tag: 6.0.4-focal
            env:
              TZ: Europe/Lisbon
            probes: *probes
    service:
      server:
        controller: server
        primary: true
        ports:
          http:
            port: *port
      web:
        controller: web
        ports:
          http:
            port: &webport 3000
      mongodb:
        controller: mongodb
        ports:
          http:
            port: 27017
    route:
      app:
        hostnames: ["${GATUS_SUBDOMAIN:=${APP}}.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: "/api"
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: "/"
            backendRefs:
              - identifier: server
                port: *port
          - matches:
              - path:
                  type: PathPrefix
                  value: "/"
            backendRefs:
              - identifier: web
                port: *webport
    persistence:
      mongo:
        existingClaim: *app
        advancedMounts:
          mongodb:
            app:
              - path: /data
