---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app home-assistant
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  # dependsOn:
  # - name: external-secrets-provider
  # - name: external-secrets-operator
  # - name: cluster-apps-volsync
  path: ./kubernetes/main/apps/home/home-assistant/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: home-assistant
      namespace: home
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  targetNamespace: home
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
      GATUS_SUBDOMAIN: hass
