---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli
spec:
  chartRef:
    kind: OCIRepository
    name: tautulli
  interval: 30m
  values:
    controllers:
      tautulli:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: 2.16.0@sha256:772e1af814159bd7e774273d4f9170b1a0f7129f2ad39be5619a458b7b0fd4b0
            env:
              TZ: ${TIMEZONE:=Europe/Lisbon}
              TAUTULLI_HTTP_BASE_URL: https://tautulli.rafaribe.com
              TAUTULLI_HTTP_PORT: &port 80
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
          jbops:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece
            env:
              GITSYNC_REPO: https://github.com/blacktwin/JBOPS
              GITSYNC_REF: master
              GITSYNC_PERIOD: 24h
              GITSYNC_ROOT: /scripts
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Tautulli
          gethomepage.dev/icon: tautulli.png
          gethomepage.dev/description: Plex Stream Monitoring
          # TODO: Not working, check later
          gethomepage.dev/widget.type: tautulli
          gethomepage.dev/widget.url: http://tautulli.media
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_TAUTULLI_API_KEY}}` }}"

        hostnames: ["tautulli.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: tautulli
                port: 80
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      cache:
        existingClaim: tautulli-cache
        globalMounts:
          - path: /config/cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          tautulli:
            app:
              - path: /config/logs
                subPath: logs
              - path: /scripts
                subPath: scripts
              - path: /tmp
                subPath: tmp
            jbops:
              - path: /scripts
                subPath: scripts
              - path: /tmp
                subPath: tmp