---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.1.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gotosocial
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      gotosocial:
        type: deployment
        replicas: 1
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: gotosocial
        containers:
          main:
            image:
              repository: "docker.io/superseriousbusiness/gotosocial"
              tag: "0.19.2@sha256:1aa074861fdb9913950ea9ee8923f342a1593b4c66dd9c3a1592140ac9164966"
            env:
              TZ: "Europe/Lisbon"
              GTS_HOST: &host social.rafaribe.com
              GTS_ACCOUNT_DOMAIN: "rafaribe.com"
              GTS_LANDING_PAGE_USER: "rafaribe"
              GTS_ACCOUNTS_REGISTRATION_OPEN: "false"
              GTS_APPLICATION_NAME: "rafaribe's galaxy"
              GTS_PROTOCOL: "https" # not HTTP server listen mode, but used for generating URLs etc
              GTS_PORT: "8080"
              GTS_METRICS_ENABLED: "true"
              # OIDC
              GTS_OIDC_ENABLED: "true"
              GTS_OIDC_IDP_NAME: "Rafaribe SSO"
              GTS_OIDC_ISSUER: https://sso.rafaribe.com/application/o/gotosocial/
              # S3
              GTS_STORAGE_BACKEND: "s3"
              GTS_STORAGE_S3_PROXY: "true"
              GTS_STORAGE_S3_USE_SSL: "false"
              GTS_STORAGE_S3_BUCKET: "gotosocial-media"
              # Trusted Proxies
              # https://docs.gotosocial.org/en/latest/configuration/trusted_proxies/
              GTS_TRUSTED_PROXIES: "10.42.0.0/16,10.43.0.0/16,127.0.0.1/32,::1"
            envFrom: *envFrom
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                cpu: 3000m
                memory: 1536Mi

    service:
      gotosocial:
        controller: gotosocial
        ports:
          http:
            port: 8080
            protocol: HTTP
            appProtocol: http
    route:
      main:
        annotations:

        hostnames: ["social.rafaribe.com"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: gotosocial
                port: 8080
    persistence:
      tmp:
        type: emptyDir
        medium: Memory
        globalMounts:
          - subPath: tmp
            path: /tmp # ffmpeg WASM stuff
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: false
        runAsUser: &uid 1000
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
