---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: postgres
  namespace: database
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cloudnative-pg
  values:
    crds:
      create: true
    config:
      data:
        INHERITED_ANNOTATIONS: kyverno.io/ignore
    monitoring:
      podMonitorEnabled: false
      grafanaDashboard:
        create: true
    resources:
      requests:
        cpu: 15m
        memory: 256Mi
      limits:
        memory: 512Mi