---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: netboot
  namespace: services
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/netbootxyz/netbootxyz
              tag: 0.7.3-nbxyz2
    defaultPodOptions:
      hostNetwork: true
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
      web:
        enabled: true
        primary: false
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_NETBOOT_XYZ}
        controller: main
        ports:
          web:
            enabled: true
            primary: false
            port: 80
            targetPort: 80
            protocol: HTTP
      tftp:
        enabled: true
        primary: false
        controller: main
        type: NodePort
        ports:
          tftp:
            enabled: true
            primary: false
            port: 69
            targetPort: 69
            protocol: UDP
    ingress:
      main:
        enabled: true
        className: "internal"
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.rafaribe.com
          hajimari.io/enable: "true"
          hajimari.io/appName: "Netboot.xyz"
          hajimari.io/info: "Network boot system"
          hajimari.io/icon: "refresh-auto"
        hosts:
          - host: &host netboot.rafaribe.com
            paths:
              - path: "/"
                pathType: "Prefix"
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: netboot
      assets:
        enabled: true
        type: emptyDir
