apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-qbittorrent
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/downloads/qbittorrent/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: downloads-qbittorrent-tag
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/downloads/qbittorrent/tag
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
