---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            order: 1
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: "16.3"
            envFrom: &envFrom
              - secretRef:
                  name: gatus-secret
          initial-sync:
            order: 2
            image:
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.26.1
            # FIXME: figure out how to avoid duplicating this list in sidecars
            env:
              - { name: FOLDER, value: /config }
              - { name: LABEL, value: gatus.io/enabled }
              - { name: NAMESPACE, value: ALL }
              - { name: RESOURCE, value: both }
              - { name: UNIQUE_FILENAMES, value: "true" }
              - { name: METHOD, value: LIST }
        containers:
          main:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.8.0
            env:
              TZ: ${TZ}
              GATUS_CONFIG_PATH: /config
              CUSTOM_WEB_PORT: &port 80
              CLUSTER_DOMAIN: ${EXTERNAL_DOMAIN}
            envFrom: *envFrom
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                memory: 128Mi
          config-sync:
            image:
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.26.1
            env:
              - { name: FOLDER, value: /config }
              - { name: LABEL, value: gatus.io/enabled }
              - { name: NAMESPACE, value: ALL }
              - { name: RESOURCE, value: both }
              - { name: UNIQUE_FILENAMES, value: "true" }
              - { name: METHOD, value: WATCH }
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 192Mi
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        ports:
          http:
            port: *port
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      main:
        enabled: true
        className: external-nginx
        annotations:
          hajimari.io/icon: simple-icons:gatsby
        hosts:
          - host: &host status.${EXTERNAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
        tls:
          - hosts:
              - *host
    serviceAccount:
      create: true
      name: gatus
    persistence:
      config:
        enabled: true
        type: emptyDir
      config-file:
        type: configMap
        name: gatus-configmap
        advancedMounts:
          main:
            main:
              - path: /config/config.yaml
                subPath: config.yaml
                readOnly: true
