# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
resources:
  - ./externalsecret.yaml
  # - ./gatus.yaml
  - ./helmrelease.yaml
  - ./podmonitor.yaml
  - ./volsync.yaml
  - ./pvc.yaml
  - ./keys.yaml
  - ./ingress.yaml
# patches:
#   - path: ./patches/addons.yaml
