---
version: "3.8"
x-data-services-volume: &data-services-volume
  type: bind
  source: /data/syncthing/files
  target: /data/

services:
  grafana-agent:
    image: grafana/agent:latest
    container_name: grafana-agent
    volumes:
      - /data/var/lib/docker/containers:/containers #Promtail Docker Logs
      - /var/log/journal:/journal #Journal logs
      - /home/{{ansible_user}}/grafana-agent/agent.yml:/etc/agent/agent.yml # Agent Config
      - /:/host/root:ro,rslave # rootfs / node_exporter
      - /sys:/host/sys:ro,rslave # sys / node_exporter
      - /proc:/host/proc:ro,rslave #processes / node_exporter
    command: -config.file=/etc/agent/agent.yml -config.expand-env=true

    restart: unless-stopped
    logging:
      driver: json-file
      options:
        tag: "{{ '{{' }}.ImageName{{ '}}' }}|{{ '{{' }}.Name{{ '}}' }}|{{ '{{' }}.ImageFullID{{ '}}' }}|{{ '{{' }}.FullID{{ '}}' }}"

  cadvisor:
    image: unibaktr/cadvisor:0.46.0
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      - /etc/machine-id/:/etc/machine-id:ro
    devices:
      - /dev/kmsg:/dev/kmsg:ro

    ports:
      - "8080:8080"
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        tag: "{{ '{{' }}.ImageName{{ '}}' }}|{{ '{{' }}.Name{{ '}}' }}|{{ '{{' }}.ImageFullID{{ '}}' }}|{{ '{{' }}.FullID{{ '}}' }}"
  syncthing:
    image: lscr.io/linuxserver/syncthing:1.27.3
    container_name: syncthing
    hostname: syncthing #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Lisbon
    volumes:
      - /data/syncthing/config:/config
      - *data-services-volume
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp

    logging:
      driver: json-file
      options:
        tag: "{{ '{{' }}.ImageName{{ '}}' }}|{{ '{{' }}.Name{{ '}}' }}|{{ '{{' }}.ImageFullID{{ '}}' }}|{{ '{{' }}.FullID{{ '}}' }}"
  # kopia:
  #   image: ghcr.io/onedr0p/kopia:0.12.1
  #   container_name: kopia
  #   restart: unless-stopped
  #   network_mode: bridge
  #   environment:
  #     KOPIA_PASSWORD: Kogmaw20#
  #     TZ: Europe/Lisbon
  #   command:
  #     - server
  #     - --insecure
  #     - --address
  #     - 0.0.0.0:51515
  #     - --override-username
  #     - rafaribe
  #     - --without-password
  #   ports:
  #     - 51515:51515
  #   volumes:
  #     - "./kopia/config:/app/config"
  #     - "./kopia/cache:/app/cache"
  #     - "./kopia/logs:/app/logs"
  #     - "/:/tycho:ro"
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - WEBUI_PORT=9090
    volumes:
      - "./qbitorrent/config:/config"
      - /data/share/nfs/downloads:/downloads
    ports:
      - 9090:9090
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ACCESS_KEY: myaccesskey
      MINIO_SECRET_KEY: mysecretkey
    volumes:
      - /data/minio/data:/data
      - /data/minio/config:/root/.minio
    ports:
      - "9000:9000"
    restart: unless-stopped

    logging:
      driver: json-file
      options:
        tag: "{{ '{{' }}.ImageName{{ '}}' }}|{{ '{{' }}.Name{{ '}}' }}|{{ '{{' }}.ImageFullID{{ '}}' }}|{{ '{{' }}.FullID{{ '}}' }}"

  nginx:
    image: nginx:1.25.4-alpine
    container_name: nginx
    volumes:
      - /home/rafaribe/nginx/server.conf:/etc/nginx/nginx.conf
    ports:
      - "443:443"
      - "80:80"
    restart: unless-stopped

    logging:
      driver: json-file
      options:
        tag: "{{ '{{' }}.ImageName{{ '}}' }}|{{ '{{' }}.Name{{ '}}' }}|{{ '{{' }}.ImageFullID{{ '}}' }}|{{ '{{' }}.FullID{{ '}}' }}"


volumes:
  syncthing:
