worker_processes auto;
error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
    multi_accept on;
}

stream {
  upstream truenas {
    server 10.0.1.252:443;
  }

  upstream skovald {
    #Change me to 10.0.1.245 when this cluster is up
    server skovald.rafaribe.site:443;
  }

  map $ssl_preread_server_name $backend {
    unifi.rafaribe.com truenas;
    authentik.rafaribe.com truenas;
    dns.rafaribe.com truenas;
    dns.rafaribe.site truenas;
    default truenas;
  }

  server {
    listen 443;
    proxy_pass $backend;
    ssl_preread on;
  }
}

http {
    client_body_buffer_size 100M;
    client_body_timeout 120s;
    client_header_timeout 120s;
    keepalive_requests 10000;
    keepalive_timeout 120s;
    log_format custom '$remote_addr - $remote_user [$time_local] '
                    '"$request" $status $body_bytes_sent '
                    '"$http_referer" "$http_user_agent" "$gzip_ratio"';
    proxy_connect_timeout 90s;
    proxy_headers_hash_bucket_size 256;
    proxy_headers_hash_max_size 512;
    proxy_http_version 1.1;
    proxy_read_timeout 90s;
    proxy_send_timeout 90s;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
}
