---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app movie-roulette
spec:
  chartRef:
    kind: OCIRepository
    name: movie-roulette
  interval: 30m
  values:
    controllers:
      movie-roulette:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sahara101/movie-roulette
              tag: v5.1.2@sha256:acf88aed7a2e7808077f9a4992ad32d4dfb59c1c095059b1280dba50a4287b89
            env:
              #Homepage ENV
              HOMEPAGE_MODE: "FALSE"
              #Plex ENV
              PLEX_URL: https://plex.rafaribe.com
              PLEX_MOVIE_LIBRARIES: "Movies" #Default movies, add more with comma delimiter A,B,C
              #Poster ENV
              TZ: Europe/Lisbon
              DEFAULT_POSTER_TEXT: "Smurf Cinema"
              #Client ENV
              # APPLE_TV_ID: "" #https://github.com/sahara101/Movie-Roulette#apple-tv
              #Miscellaneous
              USE_LINKS: TRUE
              USE_FILTER: TRUE
              USE_WATCH_BUTTON: TRUE
              USE_NEXT_BUTTON: TRUE
            envFrom:
              - secretRef:
                  name: movie-roulette-secret
            resources:
              requests:
                cpu: 15m
                memory: 180M
              limits:
                memory: 300M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 4000
    route:
      app:
        annotations:

        hostnames: ["movie-roulette.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: movie-roulette
                port: 4000
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/data
