---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wizarr
spec:
  chartRef:
    kind: OCIRepository
    name: wizarr
  interval: 30m
  values:
    controllers:
      wizarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/wizarrrr/wizarr
              tag: v2025.11.1
            env:
              TZ: Europe/Lisbon
              PUID: &uid 1000
              PGID: &gid 1000
            resources:
              requests:
                cpu: 15m
                memory: 180M
              limits:
                memory: 300M
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: *uid
    #     runAsGroup: *gid
    #     fsGroup: *gid
    #     fsGroupChangePolicy: OnRootMismatch
    #     seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: &port 5690
    route:
      app:
        hostnames: ["${GATUS_SUBDOMAIN:=${APP}}.rafaribe.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: Wizarr
          gethomepage.dev/icon: wizarr.png
          gethomepage.dev/description: Plex Invite Management
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /data/database
      tmpfs:
        type: emptyDir
        advancedMounts:
          wizarr:
            app:
              - path: /.cache
