apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-tools-descheduler-app
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/kube-tools/descheduler/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
