apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: open-telemetry-prometheus
spec:
  endpoints:
    - honorLabels: true
      interval: 10s
      path: /metrics
      port: prometheus
  namespaceSelector:
    matchNames:
      - monitoring
  selector:
    matchLabels:
      app.kubernetes.io/component: opentelemetry-collector
      app.kubernetes.io/name: otel-collector
