---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app affine
spec:
  chartRef:
    kind: OCIRepository
    name: affine
  interval: 30m
  values:
    controllers:
      affine:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: *app
        containers:
          app:
            image:
              repository: ghcr.io/toeverything/affine-graphql
              tag: stable-e98f035
            env:
              TZ: "Europe/Lisbon"
              NODE_ENV: production
              # Redis configuration
              REDIS_SERVER_HOST: affine-dragonfly.services.svc.cluster.local
              REDIS_SERVER_PORT: "6379"
              REDIS_SERVER_DATABASE: "0"
              # Server configuration
              PORT: &port "3010"
              AFFINE_INDEXER_ENABLED: true
              # Authentication
              OAUTH_EMAIL_LOGIN: "false"
              # Storage
              DB_DATA_LOCATION: /data/database
              UPLOAD_LOCATION: /data/uploads
              CONFIG_LOCATION: /data/config
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
      # Ask for rootless container
    # defaultPodOptions:
    #   securityContext:
    #     runAsUser: 1000
    #     runAsGroup: 1000
    #     fsGroup: 1000
    #     fsGroupChangePolicy: "OnRootMismatch"
    #     seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Productivity
          gethomepage.dev/name: Affine
          gethomepage.dev/icon: affine.png
          gethomepage.dev/description: Knowledge Management Platform
        hostnames: ["affine.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: affine-data
        globalMounts:
          - path: /data
