---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret whodb
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *secret
    template:
      engineVersion: v2
      data:
        WHODB_POSTGRES_1: '{"host":"{{ "home-ops-rw.database.svc.cluster.local" }}","user":"{{ index . "POSTGRES_SUPER_USER" }}","password":"{{ index . "POSTGRES_SUPER_PASS" }}","database":"postgres"}'
        WHODB_POSTGRES_2: '{"host":"{{ "immich-rw.database.svc.cluster.local" }}","user":"{{ index . "POSTGRES_SUPER_USER" }}","password":"{{ index . "POSTGRES_SUPER_PASS" }}","database":"postgres"}'
  dataFrom:
  dataFrom:
    - extract:
        key: /cloudnativepg