---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whodb
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      whodb:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          whodb:
            image:
              repository: docker.io/clidey/whodb
              tag: 0.71.0@sha256:e467d21630891c416bf031aa8ae7bdcffda0dc2e1e48187f4488d93180c514e0
            envFrom:
              - secretRef:
                  name: whodb
            resources:
              requests:
                cpu: 30m
                memory: 256Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
    service:
      whodb:
        controller: whodb
        ports:
          http:
            port: 8080
    route:
      main:
        annotations:

        hostnames: ["whodb.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: whodb
                port: 8080
