---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app silverbullet
  namespace: flux-system
spec:
  path: "./kubernetes/main/apps/services/silverbullet/app"
  targetNamespace: services
  sourceRef:
    kind: GitRepository
    name: home-ops
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  prune: true
  wait: false
  interval: 10m
  postBuild:
    substitute:
      APP: *app
