apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    kubeProxyReplacement: strict
    k8sServiceHost: 10.0.1.245
    k8sServicePort: 6443
    eni:
      enabled: true
    loadBalancer:
      algorithm: maglev
