---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.8.4
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: *secret
    authentik:
      redis:
        host: dragonfly.storage.svc.cluster.local
        db: 1
    server:
      replicas: 3
      initContainers:
        - name: init-db
          image: ghcr.io/rafaribe/postgres-init:16
          envFrom:
            - secretRef:
                name: *secret
      metrics:
        enabled: false
        serviceMonitor:
          enabled: false
      ingress:
        enabled: false
    prometheus:
      rules:
        enabled: false
