---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app postiz
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      postiz:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/rafaribe/postgres-init
              tag: "16"
            envFrom: &envFrom
              - secretRef:
                  name: postiz

        containers:
          app:
            image:
              repository: ghcr.io/gitroomhq/postiz-app
              tag: latest@sha256:7300ad64e23a2a8cce205b4211d01c1ce514aca77abda1da0a4bb55ad3dbdc00
            env:
              MAIN_URL: "https://postiz.rafaribe.com"
              FRONTEND_URL: "https://postiz.rafaribe.com"
              NEXT_PUBLIC_BACKEND_URL: "https://postiz.rafaribe.com/api"
              REDIS_URL: "redis://dragonfly.storage.svc.cluster.local:6379"
              BACKEND_INTERNAL_URL: "http://localhost:3000"
              IS_GENERAL: "true" # Required for self-hosting.
              STORAGE_PROVIDER: "local"
              UPLOAD_DIRECTORY: "/uploads"
              NEXT_PUBLIC_UPLOAD_DIRECTORY: "/uploads"
            envFrom: *envFrom
    defaultPodOptions: # Docker image is too big for my turing pi's disk, dont want to get into diskpressure errors.
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 5000
    route:
      main:
        annotations:
          hajimari.io/icon: mdi:account-group
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Postiz
          gethomepage.dev/description: Your ultimate AI social media scheduling tool
          gethomepage.dev/group: Services
          gethomepage.dev/icon: https://cms.postiz.com/wp-content/uploads/2024/06/newfav.png
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (postiz)
        hostnames: ["postiz.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - subPath: config
            path: /config
          - subPath: uploads
            path: /uploads
