---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pdfding
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      pdfding:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: pdfding
        containers:
          app:
            image:
              repository: mrmn/pdfding
              tag: v1.3.1@sha256:d991e7224b94fd9fdc89ec889dcfaa1d02721689ed610d84b12b5d6d37a18d85
            envFrom: *envFrom
            env:
              # App
              DEFAULT_THEME: dark
              DATABASE_TYPE: postgres # Check externalsecret for values
              HOST_PORT: &port 80
              HOST_NAME: pdfding.rafaribe.com
              # Email
              EMAIL_BACKEND: smtp
              SMTP_HOST: smtp-relay.services.svc.cluster.local.
              SMTP_PORT: "25"
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                cpu: 100m
                memory: 400Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          hajimari.io/icon: mdi-file-pdf
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: PdfDing
          gethomepage.dev/description: PDF Viewer and Editor
          gethomepage.dev/group: Services
          gethomepage.dev/icon: https://cdn-icons-png.flaticon.com/512/4208/4208479.png
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (pdfding)
        hostnames: ["pdfding.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      media:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /home/nonroot/pdfding/media
      data:
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/storage-0/docs/paperless/
        globalMounts:
          - path: /data
