---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: system-monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: loki
      version: 2.11.1
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8s-at-home/loki
    persistence:
      enabled: true
      accessModes:
      - ReadWriteOnce
      size: 60Gi
    serviceMonitor:
      enabled: true
    securityContext:
      runAsGroup: 0
      runAsNonRoot: false
      runAsUser: 0
    config:
      ingester:
        wal:
          enabled: true
          dir: /data/loki/wal
      table_manager:
        retention_deletes_enabled: true
        retention_period: 672h
