---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: calibre
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  values:
    initContainers:
      update-config-permission:
        image: busybox@sha256:5c63a9b46e7139d2d5841462859edcbbf57f238af891b6096578e5894cfe5ae2
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
      update-media-permission:
        image: busybox@sha256:5c63a9b46e7139d2d5841462859edcbbf57f238af891b6096578e5894cfe5ae2
        command: ["sh", "-c", "chown -R 1000:1000 /config"]
        volumeMounts:
          - name: config
            mountPath: /config
        securityContext:
          runAsUser: 0
    image:
      repository: ghcr.io/linuxserver/calibre
      tag: version-v6.26.0
    env:
      PGID: "1000"
      PUID: "1000"
      UMASK_SET: "022"
      PASSWORD: ${SECRET_CALIBRE}
    securityContext:
      seccompProfile:
        type: Unconfined
    service:
      main:
        ports:
          http:
            port: 8080
      webserver:
        enabled: true
        ports:
          webserver:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        loadBalancerIP: "${LB_CALIBRE}"
      wireless:
        enabled: true
        ports:
          wireless:
            enabled: true
            port: 9090
            protocol: TCP
            targetPort: 9090
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        loadBalancerIP: "${LB_CALIBRE_WIRELESS}"
    ingress:
      main:
        enabled: true
        ingressClassName: external-nginx
        annotations:
          external-dns/is-public: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: bookshelf
        hosts:
          - host: &host calibre.${EXTERNAL_DOMAIN}
            paths:
              - path: /
        tls:
          - secretName: calibre-tls
            hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: calibre-config-v2
      media:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/media/books
        mountPath: /media
    resources:
      requests:
        cpu: 250m
        memory: 900M
      limits:
        memory: 1Gi
    probes:
      startup:
        spec:
          initialDelaySeconds: 60
          failureThreshold: 160
      liveness:
        enabled: false
      readiness:
        enabled: false
