---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app external-dns-cloudflare
  namespace: flux-system
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets-stores
  path: ./kubernetes/apps/network/external-dns/cloudflare
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  targetNamespace: network
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app external-dns-pihole
  namespace: flux-system
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets-stores
  path: ./kubernetes/apps/network/external-dns/pihole
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  targetNamespace: network
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app external-dns-bind
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: external-secrets-stores
#   path: ./kubernetes/apps/network/external-dns/bind
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: home-ops
#   wait: true
#   interval: 30m
#   retryInterval: 1m
#   timeout: 5m
#   targetNamespace: network
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
#---
# # yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app external-dns-adguard
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: external-secrets-stores
#   path: ./kubernetes/apps/network/external-dns/adguard
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: home-ops
#   wait: true
#   interval: 30m
#   retryInterval: 1m
#   timeout: 5m
#   targetNamespace: network
#   commonMetadata:
#     labels:
#       app.kubernetes.io/name: *app
