# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name cert-manager
  namespace: cert-manager
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: cloudflare-token-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        cloudflare-api-token: "{{ .CLOUDFLARE_TOKEN_SECRET }}"
  dataFrom:
    - extract:
        key: /cert-manager
