---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trivy-operator
spec:
  interval: 10m0s
  chart:
    spec:
      chart: trivy-operator
      version: "0.31.0"
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: aqua
        namespace: flux-system
  driftDetection:
    mode: enabled
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    excludeNamespaces: "kube-system"
    operator:
      replicas: 1
      scanJobsConcurrentLimit: 5
      scanJobTTL: 10s
      builtInTrivyServer: true
      vulnerabilityScannerScanOnlyCurrentRevisions: true
      configAuditScannerScanOnlyCurrentRevisions: true
      annotations:
        reloader.stakater.com/auto: "true"
      webhookBroadcastURL: ${TRIVY_WEBHOOK_URL}
    trivy:
      slow: true # flag is to use less CPU/memory for scanning though it takes more time than normal scanning
      ignoreUnfixed: true
      mode: ClientServer
      severity: HIGH,CRITICAL
      storageClassEnabled: false # ephemeral storage
      resources:
        limits:
          cpu: 500m
          memory: 1Gi
    trivyOperator:
      excludeImages: "quay.io/backube/*"
      skipResourceByLabels: "app.kubernetes.io/created-by=volsync"
    # https://github.com/aquasecurity/trivy-operator/issues/2566
    nodeCollector:
      useNodeSelector: false
      excludeNodes: kubernetes.io/os=linux
    serviceMonitor:
      enabled: true
