---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app chartdb
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      chartdb:
        containers:
          app:
            image:
              repository: ghcr.io/chartdb/chartdb
              tag: 1.18.1@sha256:4f0cb2be6fbabcdcfe13d8b0b28631b28ed9b997b6e24f1864844c999f46911c
            env:
              TZ: "Europe/Lisbon"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 25m
                memory: 64M
              limits:
                memory: 128M
    service:
      app:
        controller: chartdb
        ports:
          http:
            port: &port 80
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Development
          gethomepage.dev/name: ChartDB
          gethomepage.dev/icon: https://raw.githubusercontent.com/chartdb/chartdb/main/src/assets/logo-light.png
          gethomepage.dev/description: Database diagrams editor
          gethomepage.dev/siteMonitor: http://chartdb.database:80
        hostnames: ["chartdb.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port