---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opentelemetry-operator
spec:
  interval: 5m
  chart:
    spec:
      chart: opentelemetry-operator
      version: 0.75.1
      sourceRef:
        kind: HelmRepository
        name: open-telemetry
        namespace: flux-system
      interval: 5m
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    manager:
      image:
        repository: ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator
        tag: v0.115.0
      collectorImage:
        repository: "otel/opentelemetry-collector-contrib"
        tag: 0.116.1
      serviceMonitor:
        enabled: true

      prometheusRule:
        enabled: true
        defaultRules:
          enabled: true

    admissionWebhooks:
      certManager:
        enabled: false
