---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app harbor
spec:
  interval: 30m
  chart:
    spec:
      chart: harbor
      version: 1.18.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: harbor
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    expose:
      type: ingress
    externalURL: https://harbor.rafaribe.com
    ipFamily:
      ipv6:
        enabled: false
    persistence:
      enabled: true
      persistentVolumeClaim:
        registry:
          storageClass: local-hostpath
          size: 50Gi
          accessMode: ReadWriteOnce
        jobservice:
          jobLog:
            storageClass: local-hostpath
            size: 1Gi
          scanDataExports:
            storageClass: local-hostpath
            size: 1Gi
        trivy:
          storageClass: local-hostpath
          size: 15Gi

      # imageChartStorage:
      #   disableredirect: false
      #   type: s3
      # s3:
      #   v4auth: true
      #   bucket: registry
      #   secure: true
      #   skipverify: false
      #   rootdirectory: /s3/object

    imagePullPolicy: Always
    updateStrategy:
      type: Recreate
    logLevel: warning
    # The secret key used for encryption. Must be a string of 16 chars.
    existingSecretAdminPassword: harbor
    existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD

    portal:
      image:
        repository: ghcr.io/octohelm/harbor/harbor-portal
        tag: v2.13.0
      revisionHistoryLimit: 3
    core:
      image:
        repository: ghcr.io/octohelm/harbor/harbor-core
        tag: v2.13.0
      revisionHistoryLimit: 3
      podAnnotations:
        secret.reloader.stakater.com/reload: harbor, harbor-initdb-secret, harbor-pguser-secret
    jobservice:
      image:
        repository: ghcr.io/octohelm/harbor/harbor-jobservice
        tag: v2.13.0
      revisionHistoryLimit: 3
    registry:
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.6
          envFrom:
            - secretRef:
                name: harbor-initdb-secret
      registry:
        image:
          repository: ghcr.io/octohelm/harbor/registry-photon
          tag: v2.13.0
      controller:
        image:
          repository: ghcr.io/octohelm/harbor/harbor-registryctl
          tag: v2.14.0
      upload_purging:
        enabled: true
        # remove files in _upload directories which exist for a period of time, default is one week.
        age: 168h
        # the interval of the purge operations
        interval: 24h
        dryrun: false
      revisionHistoryLimit: 3
    chartmuseum:
      enabled: false
    trivy:
      enabled: true
      image:
        repository: ghcr.io/octohelm/harbor/trivy-adapter-photon
        tag: v2.13.0
    notary:
      enabled: false

    redis:
      type: external
      external:
        addr: dragonfly.database.svc.cluster.local:6379
        coreDatabaseIndex: "0"
        jobServiceDatabaseIndex: "1"
        registryDatabaseIndex: "2"
        chartMuseumDatabaseIndex: "3"
        trivyAdapterIndex: "4"

    database:
      type: internal

    exporter:
      replicas: 1
      revisionHistoryLimit: 3
      image:
        repository: ghcr.io/octohelm/harbor/harbor-exporter
        tag: v2.13.0
    metrics:
      enabled: true
      core:
        path: /metrics
        port: 8001
      registry:
        path: /metrics
        port: 8001
      jobservice:
        path: /metrics
        port: 8001
      exporter:
        path: /metrics
        port: 8001
      serviceMonitor:
        enabled: true
    trace:
      enabled: false
    cache:
      enabled: false
      expireHours: 24

    enableMigrateHelmHook: true
