---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app zot
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 3

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 568

        containers:
          main:
            image:
              repository: ghcr.io/project-zot/zot-linux-amd64
              tag: v2.1.8@sha256:0e0f300dba2040a4d43b8d35d9a6d047b07b7e6cadad2a6634830189b02ec27e
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /v2/
                    port: 5000
                  initialDelaySeconds: 5
              readiness: *probe
              startup:
                enabled: false

    service:
      main:
        controller: main
        ports:
          http:
            port: &port 5000

    route:
      main:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/app: "Zot"
          gethomepage.dev/group: "networking"
          gethomepage.dev/icon: "svg:container-registry"
          gethomepage.dev/name: "Zot"
          gethomepage.dev/description: "Container Registry"
        hostnames: ["zot.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      config-file:
        type: configMap
        name: *app
        globalMounts:
          - path: /etc/zot/config.json
            subPath: config.json
            readOnly: true
      registry:
        existingClaim: zot
        globalMounts:
          - path: /var/lib/registry
