---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: kitchenowl
spec:
  target:
    name: kitchenowl-secret
    template:
      engineVersion: v2
      data:
        # App
        JWT_SECRET_KEY: "{{ .KITCHENOWL_JWT_TOKEN }}"
        # Database
        DB_TYPE: postgres
        DB_HOST: &dbhost "{{ .POSTGRES_HOST }}"
        DB_PORT: "5432"
        DB_NAME: &dbname miniflux
        DB_USER: &dbuser miniflux
        DB_PASSWORD: &dbpass "{{ .POSTGRES_GENERIC_APP_PASSWORD }}"
        # Database Init
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_USER: "{{ .POSTGRES_SUPER_USER }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: /kitchenowl
    - extract:
        key: cloudnativepg
