---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kitchenowl
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      kitchenowl:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: *app
        containers:
          backend:
            image:
              repository: docker.io/tombursch/kitchenowl-backend
              tag: v0.6.8@sha256:0eb56d61bda3def2efcc8268422a3fc9981a2ebce33d9b172adb8f5b1d3a190a
            env:
              TZ: ${TIMEZONE}
              COLLECT_METRICS: false
              DB_DRIVER: postgresql
              EMAIL_MANDATORY: false
              FRONT_URL: https://kitchenowl.rafaribe.com
              OPEN_REGISTRATION: false
              SMTP_PORT: 25
              SMTP_HOST: smtp-relay.services.svc.cluster.local
              SMTP_FROM: alerts@rafaribe.com
              STORAGE_PATH: "/data"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 500Mi
          frontend:
            image:
              repository: docker.io/tombursch/kitchenowl-web
              tag: v0.6.7@sha256:e511baa6771a750dfa61fd9e0295ee73fefc816d3139aef87a497f7647363e04
            env:
              TZ: ${TIMEZONE}
              BACK_URL: "kitchenowl-backend.services.svc.cluster.local:5000"
              FRONT_URL: https://kitchenowl.rafaribe.com
            resources:
              requests:
                cpu: 5m
                memory: 50Mi
              limits:
                memory: 150Mi
        # pod:
        #   securityContext:
        #     runAsUser: 1000
        #     runAsGroup: 1000
        #     fsGroup: 1000
        #     fsGroupChangePolicy: OnRootMismatch
    service:
      backend:
        controller: kitchenowl
        ports:
          http:
            port: 5000
      frontend:
        controller: kitchenowl
        ports:
          http:
            port: 80
    ingress:
      frontend:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.rafaribe.com
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Shopping list
          gethomepage.dev/group: Household
          gethomepage.dev/icon: sh-kitchenowl.png
          gethomepage.dev/name: Kitchen Owl
        hosts:
          - host: &host "kitchenowl.rafaribe.com"
            paths:
              - path: /
                service:
                  identifier: frontend
                  port: http
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          kitchenowl:
            backend:
              - path: /data
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
