---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: flux-system
  name: cluster-settings
data:
  # Networking
  CLUSTER_NAME: skovald
  CLUSTER_ID: "1"
  CLUSTER_CERT: "letsencrypt-production"

  NETWORK_BGP_LB_CIDR: 10.0.5.0/24
  NETWORK_BGP_MAIN_CIDR: 10.0.0.250/29
  GATEWAY_MANAGEMENT: 10.0.1.1
  TZ: Europe/Lisbon

  # NAS NFS Settings
  NAS_ADDRESS: 10.0.1.6
  NAS_MEDIA: /mnt/storage-0/media
  NAS_DOCUMENTS: /mnt/storage-0/docs
  NAS_CONFIG: /mnt/storage-0/config
  NAS_MINIO: /mnt/storage-0/config

  #Network
  K8S_API_ADDRESS: skovald.rafaribe.site
  K8S_CLUSTER_CIDR: 10.196.0.0/16
  K8S_SERVICE_CIDR: 10.197.0.0/16

  # Home Network IP's
  LB_BLOCKY: 10.0.5.250
  LB_PIHOLE: 10.0.5.251
  LB_UNIFI: 10.0.5.254
  LB_NGINX_EXTERNAL: 10.0.5.1
  LB_JELLYFIN: 10.0.5.2
  LB_QBITTORRENT: 10.0.5.3
  LB_SYNCTHING: 10.0.5.4
  LB_CALIBRE: 10.0.5.5
  LB_CALIBRE_WIRELESS: 10.0.5.6
  LB_EMQX: 10.0.5.7
  LB_HASS: 10.0.5.8
  LB_K8S_GATEWAY: 10.0.5.9
  LB_NGINX_INTERNAL: 10.0.5.10
  LB_NGINX_GATEWAY: 10.0.5.11
  LB_TAILSCALE: 10.0.5.12

  # Tailscale Network IPs
  LB_TAILSCALE_CIRDS: 10.0.1.0/24,10.0.4.0/24,10.0.5.0/24
  TAILNET_PUBLIC_PORT: "41642"
