---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app readarr
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/downloads/readarr/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: false # no flux ks dependents
  targetNamespace: downloads
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  postBuild:
    substitute:
      APP: *app
