---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-readarr-audio
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/media/readarr/audio"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: false # no flux ks dependents
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-readarr-ebooks
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/media/readarr/ebooks"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: false # no flux ks dependents
