---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/source.toolkit.fluxcd.io/gitrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: gateway-api
  namespace: flux-system
spec:
  interval: 30m
  url: https://github.com/kubernetes-sigs/gateway-api
  ref:
    tag: v1.2.0
  ignore: |
    # exclude all
    /*
    # include kubernetes directory
    !/config/crd
