---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
resources:
  - ./secret.sops.yaml
  - ./config-cloudflare-ddns.yaml
  - ./deployment.yaml
# configMapGenerator:
#   - name: cloudflare-ddns-configmap-self
#     files:
#       - ./cloudflare-ddns.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
