---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name lubelog
spec:
  secretStoreRef:
    name: akeyless-secret-store
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # Init DB
        INIT_POSTGRES_DBNAME: "lubelog"
        INIT_POSTGRES_HOST: "{{ .POSTGRES_HOST }}"
        INIT_POSTGRES_USER: "lubelog"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_GENERIC_APP_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        POSTGRES_CONNECTION: 'Host={{ index . "POSTGRES_HOST" }}:5432;Username=lubelog;Password={{ .POSTGRES_GENERIC_APP_PASSWORD }};Database=lubelog'
        # SMTP Settings
        MailConfig__EmailServer: "smtp-relay.services.cluster.local"
        MailConfig__EmailFrom: "alerts@rafaribe.com"
        MailConfig__Port: "25"
        MailConfig__Username: "Lubelog"
  dataFrom:
    - extract:
        key: /cloudnativepg
    - extract:
        key: /lubelog