---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name paperless
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        GMAIL_APP_PASSSORD: "{{ .GMAIL_APP_PASSSORD}}"
        PAPERLESS_ADMIN_PASSWORD: "{{ .PAPERLESS_ADMIN_PASSWORD }}"
        PAPERLESS_ADMIN_USER: "{{ .PAPERLESS_ADMIN_USER }}"
        PAPERLESS_SECRET_KEY:  "{{ .PAPERLESS_SECRET_KEY }}"
        PAPERLESS_USE_X_FORWARD_HOST: "true"
        PAPERLESS_API_KEY: "{{ .PAPERLESS_API_KEY }}"
  dataFrom:
    - extract:
        key: /paperless
