---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name n8n
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        # App
        N8N_ENCRYPTION_KEY: "{{ .SECRET_N8N_ENCRYPTION_KEY }}"

        DB_TYPE: postgresdb
        DB_POSTGRESDB_DATABASE: &dbname n8n
        DB_POSTGRESDB_HOST: &dbhost "home-ops-rw.database.svc.cluster.local"
        DB_POSTGRESDB_USER: &dbuser n8n
        DB_POSTGRESDB_PASSWORD: &dbpass "{{ .POSTGRES_GENERIC_APP_PASSWORD }}"
        DB_POSTGRESDB_PORT: "5432"

        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: /cloudnativepg
    - extract:
        key: /n8n
