---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: n8n
  values:
    controllers:
      n8n:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom: &envFrom
              - secretRef:
                  name: n8n
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 2.9.1@sha256:7fc6bfb986401011cb9e7dc08389f8b8f51330a7bd0a0b7acef832b47839b9f3
            env:
              GENERIC_TIMEZONE: Europe/Lisbon
              N8N_PORT: &port 80
              N8N_HOST: &host "n8n.rafaribe.com"
              WEBHOOK_URL: "https://n8n.rafaribe.com"
              N8N_LOG_LEVEL: verbose
              N8N_LOG_OUTPUT: console, file
              N8N_PERSONALIZATION_ENABLED: false
              N8N_VERSION_NOTIFICATIONS_ENABLED: true
              N8N_DIAGONISTICS_ENABLED: true
              N8N_HIRING_BANNER_ENABLED: false
              N8N_USER_MANAGEMENT_DISABLED: true
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              # Public API
              N8N_PUBLIC_API_DISABLED: true
              N8N_PUBLIC_API_SWAGGERUI_DISABLED: true
              NODE_FUNCTION_ALLOW_BUILTIN: "*"
              N8N_METRICS: true
              NODE_FUNCTION_ALLOW_EXTERNAL: databricks/sql
              DB_TYPE: postgresdb
              DB_POSTGRESDB_PORT: 5432
              N8N_USER_FOLDER: /home/n8n/app
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: n8n
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.rafaribe.com"
        hostnames: [*host]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: n8n
                port: *port

    persistence:
      config:
        existingClaim: n8n
        globalMounts:
          - path: /home/n8n/app

    resources:
      requests:
        cpu: 20m
        memory: 128M
      limits:
        memory: 512M
