---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &app cross-seed
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *app
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        config.js: |
          module.exports = {
            apiKey: "{{ .CROSS_SEED_API_KEY }}",
            delay: 30,
            qbittorrentUrl: "http://qbittorrent.downloads.svc.cluster.local:8080",

            radarr: [
              "http://radarr.downloads.svc.cluster.local:80/?apikey={{ .RADARR__API_KEY }}",
            ],
            sonarr: [
              "http://sonarr.downloads.svc.cluster.local:80/?apikey={{ .SONARR__API_KEY }}",
            ],
            torznab: [
                5,
                6,
                21,
                22,
            ].map(i => `http://prowlarr.downloads.svc.cluster.local:80/$${i}/api?apikey={{ .PROWLARR__API_KEY }}`),

            action: "inject",
            duplicateCategories: true,
            flatLinking: false,
            includeSingleEpisodes: true,
            includeNonVideos: false,
            matchMode: "safe",

            linkCategory: "cross-seed",
            linkType: "hardlink",
            linkDir: "/media/Downloads/qbittorrent/complete/cross-seed",

            outputDir: "/qbittorrent/xseeds",
            torrentDir: "/qbittorrent/qBittorrent/BT_backup",
          }
  dataFrom:
    - extract:
        key: /prowlarr
    - extract:
        key: /radarr
    - extract:
        key: /sonarr
    - extract:
        key: /cross-seed