---
# yaml-language-server: $schema=http://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      pihole-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/osnabrugge/pihole-exporter
              tag: v1.2.0@sha256:cbf4519e28499b35c1f7b332a9652b5cd582f5e17bdfeaffeaf19abb76886063
            env:
              PIHOLE_HOSTNAME: 10.0.0.254
              PORT: &port 9617
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 60M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 60m
            scrapeTimeout: 1m
