---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./helmrelease.yaml
  # - ./objectbucketclaim.yaml
configMapGenerator:
  - name: loki-alerting-rules
    files:
      - loki-alerting-rules.yaml=./rules/loki-alerting-rules.yaml
generatorOptions:
  disableNameSuffixHash: true
