---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      n8n:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/rafaribe/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: n8n
        containers:
          app:
            image:
              repository: docker.io/n8nio/n8n
              tag: 1.84.1
            env:
              GENERIC_TIMEZONE: ${TIMEZONE}
              N8N_PORT: &port 80
              N8N_HOST: &host "n8n.rafaribe.com"
              WEBHOOK_URL: "https://n8n.rafaribe.com"
              N8N_LOG_LEVEL: verbose
              N8N_LOG_OUTPUT: console, file
              N8N_PERSONALIZATION_ENABLED: false
              N8N_VERSION_NOTIFICATIONS_ENABLED: true
              N8N_DIAGONISTICS_ENABLED: true
              N8N_HIRING_BANNER_ENABLED: false
              N8N_USER_MANAGEMENT_DISABLED: true
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              # Public API
              N8N_PUBLIC_API_DISABLED: true
              N8N_PUBLIC_API_SWAGGERUI_DISABLED: true
              NODE_FUNCTION_ALLOW_BUILTIN: "*"
              N8N_METRICS: true
              NODE_FUNCTION_ALLOW_EXTERNAL: databricks/sql
              DB_TYPE: postgresdb
              DB_POSTGRESDB_PORT: 5432
              N8N_USER_FOLDER: /home/n8n/app
            envFrom: *envFrom
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: n8n
        ports:
          http:
            port: *port
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.rafaribe.com"
         # authentik.home.arpa/enabled: "true"
          #nginx.ingress.kubernetes.io/auth-signin: "https://n8n.rafaribe.com/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri"
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: n8n
        globalMounts:
          - path: /home/n8n/app

    resources:
      requests:
        cpu: 20m
        memory: 128M
      limits:
        memory: 512M