---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: x509-certificate-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: x509-certificate-exporter
      version: 3.18.0
      sourceRef:
        kind: HelmRepository
        name: enix
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    prometheusRules:
      warningDaysLeft: 14
      criticalDaysleft: 7
