---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: &name readarr-ebooks
spec:
  provider:
    doppler:
      project: readarr
      config: prod
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name readarr-ebooks
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: readarr-ebooks
  dataFrom:
    - find:
        name:
          regexp: .*
