skovald-talos1.skovald.yaml
skovald-talos2.skovald.yaml
skovald-talos3.skovald.yaml
skovald-talos4.skovald.yaml
talosconfig
skovald-talos1.rafaribe.site.yaml
skovald-talos2.rafaribe.site.yaml
skovald-talos3.rafaribe.site.yaml
skovald-talos4.rafaribe.site.yaml
