20230311_192241.jpg filter=lfs diff=lfs merge=lfs -text
20230311_192246.jpg filter=lfs diff=lfs merge=lfs -text
20230311_192255.jpg filter=lfs diff=lfs merge=lfs -text
homelab.jpg filter=lfs diff=lfs merge=lfs -text
truenas-garage.jpg filter=lfs diff=lfs merge=lfs -text
kasten-logo-stacked.svg filter=lfs diff=lfs merge=lfs -text
logo-horizontal-rke.svg filter=lfs diff=lfs merge=lfs -text
proxmox_logo.svg filter=lfs diff=lfs merge=lfs -text
truenas-logo.svg filter=lfs diff=lfs merge=lfs -text
k3s.png filter=lfs diff=lfs merge=lfs -text
mkdocs.png filter=lfs diff=lfs merge=lfs -text
proxmox_overview.png filter=lfs diff=lfs merge=lfs -text
ubuntu-logo.png filter=lfs diff=lfs merge=lfs -text
cilium.png filter=lfs diff=lfs merge=lfs -text
crossplane-stacked-color.png filter=lfs diff=lfs merge=lfs -text
flux-horizontal-color.png filter=lfs diff=lfs merge=lfs -text
