---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        RADARR__API__KEY: "{{ .RADARR_API_KEY }}"
        RADARR__AUTH__APIKEY: "{{ .RADARR_API_KEY }}"
  dataFrom:
    - extract:
        key: /radarr
    - extract:
        key: /cloudnativepg
