---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name tailscale-operator
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        client_id: "{{ .TS_CLIENT_ID }}"
        client_secret: "{{ .TS_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: /tailscale
