---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-odin-sda
  namespace: kube-system
spec:
  restartPolicy: Never
  nodeName: odin
  containers:
    - name: disk-wipe
      image: ubuntu
      securityContext:
        privileged: true
      command: ["/bin/sh", "-c"]
      args:
        [
          "apt update; apt install fdisk gdisk parted udev -y; sgdisk --zap-all /dev/sda; dd if=/dev/zero bs=1000M count=1000000 oflag=direct,dsync of=/dev/sda; wipefs -af /dev/sda; blkdiscard /dev/sda; partprobe /dev/sda",
        ]
  nodeSelector:
    kubernetes.io/hostname: odin
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-odin-sdc
  namespace: kube-system
spec:
  restartPolicy: Never
  nodeName: odin
  containers:
    - name: disk-wipe
      image: ubuntu
      securityContext:
        privileged: true
      command: ["/bin/sh", "-c"]
      args:
        [
          "apt update; apt install fdisk gdisk parted udev -y; sgdisk --zap-all /dev/sdc; dd if=/dev/zero bs=1000M count=1000000 oflag=direct,dsync of=/dev/sdc; wipefs -af /dev/sdc; blkdiscard /dev/sdc; partprobe /dev/sdc",
        ]
  nodeSelector:
    kubernetes.io/hostname: odin
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-odin-sdd
  namespace: kube-system
spec:
  restartPolicy: Never
  nodeName: odin
  containers:
    - name: disk-wipe
      image: ubuntu
      securityContext:
        privileged: true
      command: ["/bin/sh", "-c"]
      args:
        [
          "apt update; apt install fdisk gdisk parted udev -y; sgdisk --zap-all /dev/sdd; dd if=/dev/zero bs=1000M count=1000000 oflag=direct,dsync of=/dev/sdd; wipefs -af /dev/sdd; blkdiscard /dev/sdd; partprobe /dev/sdd",
        ]
  nodeSelector:
    kubernetes.io/hostname: odin
---
apiVersion: v1
kind: Pod
metadata:
  name: disk-wipe-odin-sde
  namespace: kube-system
spec:
  restartPolicy: Never
  nodeName: odin
  containers:
    - name: disk-wipe
      image: ubuntu
      securityContext:
        privileged: true
      command: ["/bin/sh", "-c"]
      args:
        [
          "apt update; apt install fdisk gdisk parted udev -y; sgdisk --zap-all /dev/sde; dd if=/dev/zero bs=1M count=100  oflag=direct,dsync of=/dev/sde; wipefs -af /dev/sde; blkdiscard /dev/sde; partprobe /dev/sde",
        ]
  nodeSelector:
    kubernetes.io/hostname: odin
