---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app openbooks
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: docker.io/evanbuss/openbooks
      tag: latest@sha256:3b3d34d8b77e8261df1f470e1ca8344c035e316a86667dc7c1ab2e768d6359f1
    command:
      - ./openbooks
    args:
      - server
      - --dir
      - /books
      - --port
      - "8080"
      - --name
      - openbooks8675309
    service:
      main:
        ports:
          http:
            port: 8080
    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 568
        - 65539
    ingress:
      main:
        enabled: true
        ingressClassName: "external-nginx"
        annotations:
          hajimari.io/icon: "mdi:book-search"
        hosts:
          - host: &host "{{ .Release.Name }}.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      media:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/media/openbooks
        mountPath: /books
    resources:
      requests:
        cpu: 15m
        memory: 64M
      limits:
        cpu: 167m
        memory: 176M
