---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: wildcard-default-certificate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: wildcard-default-certificate-tls
    template:
      type: kubernetes.io/tls
      metadata:
        annotations:
          networking.v1.k8s.emberstack.com/reflection-allowed: "true"
          networking.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
      engineVersion: v2
  dataFrom:
    - extract:
        key: /wildcard-default-certificate-tls
