---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name netbox-operator
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        api_token: "{{ .NETBOX_SUPERUSER_API_TOKEN }}"
  dataFrom:
    - extract:
        key: netbox
