---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tandoor
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tandoor
  values:
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: tandoor
          migrations:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.3.3
            env: &env
              COMMENT_PREF_DEFAULT: 0
              ENABLE_SIGNUP: 0
              FRACTION_PREF_DEFAULT: 0
              MAX_OWNED_SPACES_PREF_DEFAULT: 0
              SHOPPING_MIN_AUTOSYNC_INTERVAL: 5
              GUNICORN_MEDIA: "0"
              TANDOOR_PORT: &tandoorPort 8888
              SOCIAL_DEFAULT_ACCESS: 1
              SOCIAL_DEFAULT_GROUP: user

              AI_MODEL_NAME: openai/gpt-4o
            envFrom: *envFrom
            command:
              - sh
              - -c
              - |
                set -e
                source /opt/recipes/venv/bin/activate
                echo "Updating database"
                python3 /opt/recipes/manage.py migrate
                python3 /opt/recipes/manage.py collectstatic --noinput
        containers:
          app:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.3.3
            env: *env
            command:
              - /opt/recipes/venv/bin/gunicorn
              - -b
              - :8888
              - --access-logfile
              - "-"
              - --error-logfile
              - "-"
              - --log-level
              - INFO
              - recipes.wsgi
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 768Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          nginx:
            image:
              repository: nginxinc/nginx-unprivileged
              tag: 1.29.2-alpine@sha256:2cddd18b805962549f850a5f6f1f4b3ccb667343e3c6ba42e8ce6a6f7e389709

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      nginx:
        controller: tandoor
        ports:
          http:
            port: 8080

    persistence:
      files:
        existingClaim: tandoor
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
            nginx:
              - path: /media
                subPath: mediafiles
              - path: /static
                subPath: staticfiles
            migrations:
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
      tmpfs:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
              - path: /tmp
                subPath: tmp
            migrations:
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
            nginx:
              - path: /var/cache/nginx
                subPath: nginx-cache
      nginx-config:
        type: configMap
        name: tandoor-nginx-configmap
        advancedMounts:
          tandoor:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx.conf

    route:
      nginx:
        hostnames:
          - &host tandoor.rafaribe.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: nginx
                port: 8080
        annotations:
          hajimari.io/icon: mdi:chef-hat
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Tandoor
          gethomepage.dev/description: Managing recipes, planned meals, shopping lists.
          gethomepage.dev/group: Home
          gethomepage.dev/icon: tandoor-recipes.png
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (tandoor)
          gethomepage.dev/href: https://tandoor.rafaribe.com
          gethomepage.dev/widget.type: tandoor
          gethomepage.dev/widget.url: http://tandoor.services:8000
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_TANDOOR_API_KEY}}` }}"