---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tandoor
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
            envFrom: &envFrom
              - secretRef:
                  name: *app
        containers:
          app:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.3.3@sha256:af6bd76e703d644748a93d581da05c25159d742b94b2da9eddadaaec93555858
            env:
              TZ: ${TIMEZONE}
              ALLOWED_HOSTS: "*"
              AI_MODEL_NAME: openai/gpt-4o
              COMMENT_PREF_DEFAULT: 1
              DEBUG: 0
              DEFAULT_FROM_EMAIL: noreply@rafaribe.com
              EMAIL_HOST: smtp-relay-noreply.services.svc.cluster.local
              EMAIL_PORT: 25
              ENABLE_SIGNUP: 0
              FRACTION_PREF_DEFAULT: 0
              GUNICORN_MEDIA: 0
              SHOPPING_MIN_AUTOSYNC_INTERVAL: 5
              SOCIAL_PROVIDERS: allauth.socialaccount.providers.openid_connect
              TANDOOR_PORT: &port 8000
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1024Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          hajimari.io/icon: mdi:chef-hat
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Tandoor
          gethomepage.dev/description: Managing recipes, planned meals, shopping lists.
          gethomepage.dev/group: Home
          gethomepage.dev/icon: tandoor-recipes.png
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (tandoor)
          gethomepage.dev/href: https://tandoor.rafaribe.com
          gethomepage.dev/widget.type: tandoor
          gethomepage.dev/widget.url: http://tandoor.services:8000
          gethomepage.dev/widget.key: "{{ `{{HOMEPAGE_VAR_TANDOOR_API_KEY}}` }}"
        hostnames: ["tandoor.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      files:
        existingClaim: *app
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
      tmpfs:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
              - path: /tmp
                subPath: tmp
    configMaps:
      config:
        data:
          nginx-config: |-
            pid /tmp/nginx.pid;
            events {
              worker_connections 1024;
            }
            http {
              client_body_temp_path /tmp/client_temp;
              proxy_temp_path       /tmp/proxy_temp_path;
              fastcgi_temp_path     /tmp/fastcgi_temp;
              uwsgi_temp_path       /tmp/uwsgi_temp;
              scgi_temp_path        /tmp/scgi_temp;

              include mime.types;
              server {
                listen 8080;
                server_name _;
                client_max_body_size 128M;
                # serve static files
                location /static/ {
                  alias /static/;
                }
                # serve media files
                location /media/ {
                  alias /media//;
                }
                location ^~ /accounts/signup {
                  return 401;
                }
                # pass requests for dynamic content to gunicorn
                location / {
                proxy_set_header Host $host;
                proxy_pass http://localhost:8000;
                }
              }
            }
            