---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app thelounge
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  path: "./kubernetes/main/apps/services/thelounge/app/"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: thelounge
      namespace: services
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  targetNamespace: services
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 1Gi
      GATUS_SUBDOMAIN: tl
