---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-external
spec:
  interval: 30m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: external
    controller:
      replicaCount: 1
      extraEnvs:
        - name: TZ
          value: "Europe/Lisbon"

      updateStrategy:
        type: RollingUpdate

      allowSnippetAnnotations: true
      enableAnnotationValidations: true
      service:
        enabled: true
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: external-utility.rafaribe.com
          lbipam.cilium.io/ips: ${LB_NGINX_EXTERNAL_UTILITY}
      publishService:
        enabled: true
      ingressClassResource:
        name: external
        default: false
        controllerValue: k8s.io/external
      admissionWebhooks:
        objectSelector:
          matchExpressions:
            - key: ingress-class
              operator: In
              values: ["external"]
      config:
        block-user-agents: "GPTBot,~*GPTBot*,ChatGPT-User,~*ChatGPT-User*,Google-Extended,~*Google-Extended*,CCBot,~*CCBot*,Omgilibot,~*Omgilibot*,FacebookBot,~*FacebookBot*" # taken from https://github.com/superseriousbusiness/gotosocial/blob/main/internal/web/robots.go
        client-body-buffer-size: 100M
        client-body-timeout: 120
        client-header-timeout: 120
        enable-brotli: "true"
        enable-ocsp: "true"
        enable-real-ip: "true"
        force-ssl-redirect: "true"
        hide-headers: Server,X-Powered-By
        hsts-max-age: 31449600
        keep-alive-requests: 10000
        keep-alive: 120
        log-format-escape-json: "true"
        log-format-upstream: >
          {"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x_forwarded_for": "$proxy_add_x_forwarded_for",
          "request_id": "$req_id", "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time,
          "status": $status, "vhost": "$host", "request_proto": "$server_protocol", "path": "$uri", "request_query": "$args",
          "request_length": $request_length, "duration": $request_time, "method": "$request_method", "http_referrer": "$http_referer",
          "http_user_agent": "$http_user_agent", "country_code": "$geoip2_city_country_code", "country_name": "$geoip2_city_country_name"}
        proxy-body-size: 0
        proxy-buffer-size: 16k
        ssl-protocols: TLSv1.3 TLSv1.2
        use-geoip2: false
        use-forwarded-headers: "true"
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespaceSelector:
            any: true
      extraArgs:
        default-ssl-certificate: "network/wildcard-default-certificate-tls"
      terminationGracePeriodSeconds: 120
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 800Mi
      # Extra Init Containers
      extraInitContainers:
        - name: download-geolite-files
          image: alpine:3.21
          command: ["sh", "/scripts/geolite.sh"]
          env:
            - name: GEOLITE_RELEASE
              value: "2024.12.07"
          volumeMounts:
            - name: geolite-files
              mountPath: /home
            - name: geolite-script
              mountPath: /scripts # Mount path for the bash script
      extraVolumes:
        - name: geolite-files
          emptyDir: {}
        - name: geolite-script
          configMap:
            name: download-geolite-script
      extraVolumeMounts:
        - name: "geolite-files"
          mountPath: /etc/ingress-controller/geoip/
    defaultBackend:
      enabled: true
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.3 # Using the latest tag is highly discouraged. Please, use tags in X.Y.Z format
      extraEnvs:
        - name: TEMPLATE_NAME # Optional: change the default theme
          value: ghost
        - name: SHOW_DETAILS # Optional: enables the output of additional information on error pages
          value: "true"
