---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hajimari-gatus-ep
  namespace: services
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: apps
        group: services
        url: https://apps.rafaribe.com
        interval: 1m
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: pushover
