---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-frontend
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              # renovate: datasource=docker depName=ghcr.io/codewithcj/sparkyfitness-frontend
              repository: ghcr.io/codewithcj/sparkyfitness-frontend
              tag: v0.16.4.5@sha256:211ea27210111ed05aebe5b3dcfe6e749773e65bd8ab30bd216b99b3f77359cb
            env:
              PROMETHEUS_ENABLED: "true"
              SPARKY_FITNESS_LOG_LEVEL: debug
              SPARKY_FITNESS_SERVER_HOST: sparkyfitness-server.home
              SPARKY_FITNESS_SERVER_PORT: 3010
            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                memory: 64M
    service:
      main:
        controller: main
        ports:
          http:
            port: &httpPort 80

    route:
      app:
        hostnames:
          - fitness.rafaribe.com
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
      internal:
        hostnames:
          - fit.rafaribe.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https