---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cyberchef
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: cyberchef
  values:
    defaultPodOptions:
      securityContext:
        runAsGroup: 1000
        runAsUser: 1000
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

    controllers:
      cyberchef:
        containers:
          app:
            image:
              # https://hub.docker.com/r/mpepping/cyberchef
              repository: docker.io/mpepping/cyberchef
              tag: v10.20.0@sha256:3c5d75890873c895c56a73f7f88b97fcd33991551858023236debaeeb2f9d57c
            env:
              TZ: Europe/Lisbon
              PORT: &port 8000
            resources:
              requests:
                cpu: 25m
                memory: 105M
              limits:
                memory: 105M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Services
          gethomepage.dev/name: Cyberchef
          gethomepage.dev/icon: https://repocloud.io/static/apps/cyberchef/assets/logo.png
          gethomepage.dev/description: The Cyber Swiss Army Knife
          gethomepage.dev/siteMonitor: http://cyberchef.services:8000
        hostnames: ["cyberchef.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
