---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app syncthing
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      syncthing:
        containers:
          app:
            image:
              repository: docker.io/syncthing/syncthing
              tag: 2.0.8
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 15m
                memory: 150M
              limits:
                cpu: 500m
                memory: 400M
      browser:
        containers:
          app:
            image:
              repository: docker.io/filebrowser/filebrowser
              tag: v2.42.5
            env:
              TZ: ${TIMEZONE:=Etc/UTC}
              FB_DATABASE: /config/filebrowser.db
              FB_ROOT: /var/syncthing
              FB_LOG: stdout
              FB_NOAUTH: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &browserPort 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 500Mi
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: syncthing
        primary: true
        ports:
          http:
            port: 8384
            primary: true
      listen:
        controller: syncthing
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${LB_SYNCTHING}
        ports:
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
          listen:
            enabled: true
            port: 22000
            protocol: TCP
          listen-udp:
            enabled: true
            port: 22000
            protocol: UDP
      browser:
        controller: browser
        ports:
          http:
            port: *browserPort
    route:
      app:
        annotations:
          hajimari.io/appName: syncthing
          hajimari.io/enable: "true"
          hajimari.io/icon: folder-sync
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Sync your files with Syncthing
          gethomepage.dev/group: Storage
          gethomepage.dev/icon: syncthing
          gethomepage.dev/name: Syncthing
          gethomepage.dev/pod-selector: >-
            app.kubernetes.io/name in (syncthing)
        hostnames: ["syncthing.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 8384
      browser:
        annotations:
          hajimari.io/icon: mdi:folder-arrow-up-down-outline

        hostnames: ["sync.rafaribe.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: syncthing-browser
                port: 80
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          browser:
            app:
              - path: /config

      data:
        enabled: true
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/storage-0/syncthing
        globalMounts:
          - path: /var/syncthing
