---
# yaml-language-server: $schema=https://kubernetes-schemas.rafaribe.com/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sonarr-anime
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [10000]
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/sonarr-develop
              tag: 4.0.0.737@sha256:b87e975273270c62adff5df680d8d2159c0a9fe49466aabee30546685efd0ac8
            probes:
              startup:
                enabled: false
            resources:
              requests:
                cpu: 15m
                memory: 443Mi
              limits:
                memory: 474Mi
            env:
              TZ: Europe/Lisbon
              PUSHOVER_DEBUG: "false"
              SONARR__INSTANCE_NAME: Sonarr Anime
              SONARR__PORT: &port 80
              SONARR__LOG_LEVEL: info
              SONARR__THEME: dark
            envFrom: &envFrom
              - secretRef:
                  name: sonarr
        initContainers:
          init-db:
            image: ghcr.io/onedr0p/postgres-init:16.1
            imagePullPolicy: IfNotPresent
            envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: external-nginx
        annotations:
          hajimari.io/icon: mdi:television-classic
        hosts:
          - host: &host "anime.${EXTERNAL_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: sonarr-anime-config
      media:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/media
        mountPath: /media
      scripts:
        enabled: true
        type: configMap
        name: sonarr-anime-configmap
        subPath: pushover-notify.sh
        mountPath: /scripts/pushover-notify.sh
        defaultMode: 0775
        readOnly: true
