---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name atuin-secret
  namespace: services
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        INIT_POSTGRES_DBNAME: "{{ .ATUIN_POSTGRES_DBNAME }}"
        INIT_POSTGRES_HOST: "{{ .ATUIN_POSTGRES_HOST }}"
        INIT_POSTGRES_PASS: "{{ .ATUIN_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_USER: "{{ .ATUIN_POSTGRES_USER  }}"
        ATUIN_DB_URI: |-
          postgres://{{ .ATUIN_POSTGRES_USER }}:{{ .ATUIN_POSTGRES_PASS }}@{{ .ATUIN_POSTGRES_HOST }}/{{ .ATUIN_POSTGRES_DBNAME }}
  dataFrom:
    - extract:
        key: /atuin
