---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-spegel
  namespace: flux-system
spec:
  targetNamespace: kube-system
  path: ./kubernetes/main/apps/kube-system/spegel/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
