---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: volsync
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.13.1
  url: oci://ghcr.io/home-operations/charts-mirror/volsync
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: volsync
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    metrics:
      disableAuth: true
    image: &image
      # repository: ghcr.io/home-operations/volsync
      # tag: 0.12.1@:sha256:0483e545f9d9d9bd4bc97e2f7f6eceed1b302bb42d99d506e0bcf3bc6dcc9cc2
      repository: quay.io/backube/volsync
      tag: 0.13.0-rc.2
    restic:
      <<: *image
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 100
      seccompProfile: { type: RuntimeDefault }
