---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudnative-pg-postgres17-pgdump
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      cloudnative-pg-postgres17-pgdump:
        type: cronjob
        cronjob:
          concurrencyPolicy: Forbid
          schedule: "@daily"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            env:
              EXCLUDE_DBS: app lidarr_log radarr_log sonarr_log prowlarr_log postgres template0 template1
            envFrom: &envFrom
              - secretRef:
                  name: cloudnative-pg-postgres17-pgdump-secret
            command: /scripts/list_dbs.sh
        containers:
          app:
            image:
              repository: prodrigestivill/postgres-backup-local
              tag: 18-alpine@sha256:5519b121b9f3058dc6f116927f8131a6f67951542dbf2cdacfd193f42daaa7a3
            command: [/backup.sh]
            env:
              POSTGRES_DB_FILE: /config/db_list
              POSTGRES_EXTRA_OPTS: -Z9 --schema=public --blobs
              BACKUP_KEEP_DAYS: "7"
              BACKUP_KEEP_WEEKS: "4"
              BACKUP_KEEP_MONTHS: "3"
              HEALTHCHECK_PORT: "8080"
            envFrom: *envFrom
    service:
      app:
        controller: *app
        enabled: false
    persistence:
      config:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /config
      backups:
        enabled: true
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/storage-0/backups/postgres
        globalMounts:
          - path: /backups
      scripts:
        enabled: true
        type: configMap
        name: cloudnative-pg-postgres-pgdump-scripts # overriden by kustomizeconfig
        defaultMode: 0775
        globalMounts:
          - path: /scripts
