---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kubeclarity
  namespace: security
spec:
  interval: 5m
  chart:
    spec:
      chart: kubeclarity
      version: v2.3.0
      sourceRef:
        kind: HelmRepository
        name: kubeclarity-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation: # perform remediation when helm install fails
      retries: 3
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 3
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:
    global:
      databasePassword: ${SECRET_KUBECLARITY_DATABASE_PASSWORD}
