main-thor.home.arpa.yaml
main-loki.home.arpa.yaml
main-freya.home.arpa.yaml
main-odin.home.arpa.yaml
main-tyr.home.arpa.yaml
talosconfig
main-mimir.home.arpa.yaml
main-heimdall.home.arpa.yaml
*.crt
*.csr
*.key
main-borr.home.arpa.yaml
.snapshot
main-tpi-1.home.arpa.yaml
main-tpi-2.home.arpa.yaml
main-tpi-3.home.arpa.yaml
main-tpi-4.home.arpa.yaml
main-srv-02.home.arpa.yaml
main-srv-03.home.arpa.yaml
main-srv-04.home.arpa.yaml
main-srv-05.home.arpa.yaml
main-srv-06.home.arpa.yaml
main-srv-07.home.arpa.yaml
shared-srv-01.home.arpa.yaml
