---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web
spec:
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        # runAsNonRoot: true
        # runAsUser: 1000
        # runAsGroup: 1000
        # fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
    controllers:
      calibre-web:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: crocodilestick/calibre-web-automated
              tag: V2.1.2@sha256:2fb8b5df7f41e8520885871806e3028dac0628c71c91bdf7d9c72d5c7aa0c0b4
            env:
              CACHE_DIR: /cache
              CALIBRE_PORT: &port 8083
              TZ: Europe/Lisbon
              PUID: "1000"
              PGID: "1000"
              DOCKER_MODS: >-
                {{- $items := list
                  "// renovate: lsio-docker-mod"
                  "ghcr.io/linuxserver/mods:universal-calibre-v7.16.0"
                -}}
                {{- $filtered := list -}}
                {{- range $item := $items -}}
                  {{- if not (hasPrefix "//" $item) -}}
                    {{- $filtered = append $filtered $item -}}
                  {{- end -}}
                {{- end -}}
                {{- $filtered | join "|" -}}
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 60
                  failureThreshold: 45
                  periodSeconds: 5

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 768Mi

    service:
      app:
        controller: calibre-web
        ports:
          http:
            port: 8083
    route:
      app:
        annotations:
          hajimari.io/icon: mdi:chart-bar
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Calibre
          gethomepage.dev/icon: calibre.png
          gethomepage.dev/widget.type: calibreweb
          gethomepage.dev/widget.url: http://calibre-web.media:8083
          gethomepage.dev/widget.username: "{{`{{HOMEPAGE_VAR_CALIBRE_USERNAME}}`}}"
          gethomepage.dev/widget.password: "{{`{{HOMEPAGE_VAR_CALIBRE_PASSWORD}}`}}"
        hostnames: ["calibre.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: calibre-web
                port: 8083

    persistence:
      config:
        existingClaim: calibre-web
        advancedMounts:
          calibre-web:
            app:
              - path: /config

      data:
        enabled: true
        type: nfs
        server: truenas.rafaribe.com
        path: /mnt/tank/media/books
        advancedMounts:
          calibre-web:
            app:
              - path: /books
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
      media-ceph:
        existingClaim: ceph-media
        globalMounts:
          - path: /media-ceph
