---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: calibre-web
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  values:
    image:
      repository: ghcr.io/bjw-s/calibre-web
      tag: 0.6.21@sha256:772f009387c5d23cfcd5efeae067b4cb225b8c2a0674ee0733915ac5f2bdeedb
    securityContext:
      seLinuxOptions:
        level: s0
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 1000
    env:
      CACHE_DIR: /cache
    service:
      main:
        ports:
          http:
            port: 8083
    ingress:
      main:
        enabled: true
        ingressClassName: external-nginx
        labels:
          theme-park.home/name: calibreweb
          theme-park.home/theme: hotline
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "book-open-page-variant"
          theme.home.arpa/enabled: "true"
        hosts:
          - host: &host library.${EXTERNAL_DOMAIN}
            paths:
              - path: /
        tls:
          - secretName: library-tls
            hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: calibre-web-config-v3
      media:
        enabled: true
        type: nfs
        server: 10.0.1.6
        path: /mnt/storage-0/media/books
        mountPath: /media
      cache:
        enabled: true
        type: emptyDir
        mountPath: /cache
    resources:
      requests:
        cpu: 15m
        memory: 249M
      limits:
        memory: 299M
    probes:
      startup:
        enabled: false
      liveness:
        enabled: false
      readiness:
        enabled: false
