# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomization_v1beta2.json
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  # dependsOn:
  #   - name: thanos
  path: ./apps/monitoring/kube-prometheus-stack/app
  prune: true
  sourceRef:
    kind: OCIRepository
    name: home-truenas
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: kube-prometheus-stack
      namespace: monitoring
  interval: 30m
  retryInterval: 1m
  timeout: 5m
