---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app affine
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  path: "./kubernetes/apps/services/affine/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 3m
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: affine
      namespace: services
  targetNamespace: services
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  postBuild:
    substitute:
      APP: *app
      APP_UID: "1000"
      APP_GID: "1000"
      CLAIM: affine
      VOLSYNC_CAPACITY: 15Gi
  components:
    - ../../../../components/volsync
    - ../../../../components/dragonfly
