apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: storage-syncthing-app
  namespace: flux-system
spec:
  path: ./kubernetes/main/apps/storage/syncthing/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: home-ops
  interval: 30m
  retryInterval: 1m
  timeout: 3m
