---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tetragon
  namespace: security
spec:
  interval: 5m
  chart:
    spec:
      chart: tetragon
      version: 0.8.0
      sourceRef:
        kind: HelmRepository
        name: cilium-charts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    remediation: # perform remediation when helm install fails
      retries: 3
  upgrade:
    remediation: # perform remediation when helm upgrade fails
      retries: 3
      remediateLastFailure: true # remediate the last failure, when no retries remain
    cleanupOnFail: true
  values:
    enableCiliumAPI: true
    enableProcessCred: true
    enableProcessNs: true
    prometheus:
      enabled: true
      port: 20112
      serviceMonitor:
        enabled: true
