---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app linkding
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: linkding
  values:
    controllers:
      linkding:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sissbruecker/linkding
              tag: 1.45.0@sha256:61b2eb9eed8e5772a473fb7f1f8923e046cb8cbbeb50e88150afd5ff287d4060
            envFrom: &envFrom
              - secretRef:
                  name: *app
            env:
              OIDC_VERIFY_SSL: "True"
              OIDC_USE_NONCE: "False"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 9090
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9090
    route:
      app:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "link"
          hajimari.io/appName: "Linkding"
          hajimari.io/group: "Home"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: Linkding
          gethomepage.dev/description: Bookmark manager that is designed be to be minimal and fast
          gethomepage.dev/group: Services
          gethomepage.dev/icon: linkding.png
          gethomepage.dev/siteMonitor: http://linkding.services:9090
        hostnames: ["links.rafaribe.com"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
