---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name linkding
  namespace: services
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        #Init Db
        INIT_POSTGRES_HOST: "{{ .INIT_POSTGRES_HOST }}"
        INIT_POSTGRES_PASS: "{{ .INIT_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_USER: "{{ .INIT_POSTGRES_USER }}"
        # Linkding Database
        LD_DB_DATABASE: "{{ .LD_DB_DATABASE }}"
        LD_DB_ENGINE: "{{ .LD_DB_ENGINE }}"
        LD_DB_HOST: "{{ .LD_DB_HOST }}"
        LD_DB_PASSWORD: "{{ .LD_DB_PASSWORD }}"
        LD_DB_USER: "{{ .LD_DB_USER }}"
        # General Configuration
        LD_SUPERUSER_NAME: "{{ .LD_SUPERUSER_NAME }}"
        LD_SUPERUSER_PASSWORD: "{{ .LD_SUPERUSER_PASSWORD }}"
  dataFrom:
    - extract:
        key: /linkding
