---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: tetragon
spec:
  interval: 30m
  chart:
    spec:
      chart: tetragon
      version: 1.2.1
      sourceRef:
        name: cilium
        kind: HelmRepository
        namespace: flux-system
  values:
    enabled: true
    imagePullPolicy: IfNotPresent
    dnsPolicy: ClusterFirstWithHostNet
    tetragon:
      enabled: true
      securityContext:
        privileged: true
      enableK8sAPI: true
      enableCiliumAPI: true
      enableProcessCred: true
      enableProcessNs: true
      prometheus:
        enabled: false
    tetragonOperator:
      enabled: true
