---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: rook-ceph
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: rook-ceph-dashboard-password
    creationPolicy: Merge # Probably switch this to Owner if cluster is recreated
    template:
      engineVersion: v2
      data:
        # Gatus
        password: "{{ .PASSWORD }}"
  dataFrom:
    - extract:
        key: /rook-ceph
