---
name: Schedule - Library Chart Update

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  library-chart-update:
    name: Library Chart Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.3
      - name: Add library chart
        run: helm repo add k8s-at-home-library https://library-charts.k8s-at-home.com
      - name: Update helm repositories
        run: helm repo update
      - name: Update helm dependencies
        run: helm dep update
        working-directory: kubernetes/charts/kah-common-chart
      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: github-action/renovate-kah-library-chart
          delete-branch: true
          title: "chore(github-action): update kah library chart"
          signoff: true
          commit-message: "chore(github-action): update kah library chart"
          body: |
            Update the kah library chart
          labels: |
            renovate/github-action
