name: "Schedule - Automatic Merge"

on:
  schedule:
    - cron: "0 17-22 * * *"

jobs:
  automerge:
    #if: ${{github.event_name == 'schedule' && github.actor == 'trux-bot'}}
    runs-on: ubuntu-latest
    steps:

     - name: automerge-servers
       uses: "pascalgn/automerge-action@v0.15.3"
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         MERGE_METHOD: rebase
         UPDATE_METHOD: rebase
         MERGE_LABELS: "automerge-servers"
         MERGE_COMMIT_MESSAGE: pull-request-title

