---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom: &envFrom
              - secretRef:
                  name: openwebui
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.43
            env:
              - name: OLLAMA_BASE_URL
                value: http://ollama.rafaribe.com:11434
              - name: ENABLE_RAG_WEB_SEARCH
                value: true
              - name: RAG_WEB_SEARCH_ENGINE
                value: searxng
              - name: SEARXNG_QUERY_URL
                value: http://searxng.services.svc.cluster.local:8080/search?q=<query>
            envFrom: *envFrom
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                memory: 4Gi
    defaultPodOptions: # Docker image is too big for my turing pi's disk, dont want to get into diskpressure errors.
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
    service:
      app:
        controller: open-webui
        ports:
          http:
            port: &port 8080
    route:
      app:
        hostnames: ["${GATUS_SUBDOMAIN:=${APP}}.rafaribe.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /app/backend/data
