---
# yaml-language-server: $schema=https://kubernetes-schemas.rafaribe.com/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex-auto-languages
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: plex
      namespace: media
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/remirigal/plex-auto-languages
      tag: v1.2.3
    env:
      PLEX_URL: http://plex.default.svc.cluster.local:32400
      REFRESH_LIBRARY_ON_SCAN: false
    envFrom:
      - secretRef:
          name: plex-auto-languages-secret
    service:
      main:
        enabled: false
    persistence:
      local:
        enabled: true
        type: emptyDir
        mountPath: /.local
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        memory: 1Gi
